
<div class="container" style="padding-top: 40px">
    <div class="well">
      <div class="row">
          <div class="col-md-12">

 <div class="faq panel-group" id="accordion">
 	<h1>FAQ </h1>
 	<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne0">Can I add multiple storefronts to a single Ordermetrics dashboard?</a>
                    </h4>
                </div>
                <div id="collapseOne0" class="panel-collapse collapse">
                    <div class="panel-body">
                    Yes! You can add multiple Shopify, Woocommerce, Amazon, and eBay storefronts to a single dashboard to see the total profitability of your entire business. We also offer filters so you can break down these metrics by storefront. This feature is also useful for agencies who run stores on behalf of their clients. You can add storefronts after signing up. Simply head to the Settings -> Plans/billing section to add a new storefront. 
                    </div>
                </div>
            </div>

             <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How does OrderMetrics handle <b>revenue</b> in the profit calculation?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        The revenue figure in OrderMetrics is the actual amount the customer was charged, minus refunds and gift cards. We start with this figure and then subtract all expenses from here. 
                        <p>
                        For an order, <b>Gross profit</b> = Revenue - COGS - Shipping cost - handling fees (optional) - transaction fees - taxes (pulled from sales channel)</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How does OrderMetrics handle <b>refunds / returns</b> in the profit calculation?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        OrderMetrics accounts for refunds on the date of a successful transaction of money back to the customer.  Note that a refund is different from a return because a return reflects the monetary value of the goods returned to the store, while a refund reflects the value of money reimbursed to the customer. Additionally, a return may be issued at a different date from the corresponding refund. Also note that we do not include returns from cancelled orders, since we exclude cancelled orders from our profit analysis.

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How does OrderMetrics handle <b>cancelled orders</b> in the profit calculation?</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        
                    OrderMetrics excludes cancelled orders from our profit calculation, so they do not count towards revenue or COGS. Refunds from cancelled orders are also not included in the profit calculation. However, we do include the cancelled orders in the total order count.
 
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How does OrderMetrics handle <b>gift cards</b> in the profit calculation?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">                  
                    Income from gift card purchases is counted as revenue. If a gift card is used to purchase an order, the amount from the gift card is not counted towards the revenue. 
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour2">How does OrderMetrics handle <b>taxes</b> in the profit calculation?</a>
                    </h4>
                </div>
                <div id="collapseFour2" class="panel-collapse collapse">
                    <div class="panel-body">
                        All taxes, including VAT, are accounted for in the taxes column. The revenue figure also includes these taxes and they are subtracted out when gross profit is calculated. The tax field is pulled directly from the sales channel (ie. Shopify, Amazon) 
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Are unpaid orders considered in the profit calculation?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                    You can choose to include / exclude unpaid orders under the "Settings" section of the dashboard
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">I am concerned about my data. How does OrderMetrics keep it safe?</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        We do not sell or share your data with anyone. We have written an easy to understand data policy that you can  <a href="https://www.ordermetrics.io/data-policy.html" target="_blank"> read here.</a> 
                    </div>
                </div>
            </div>

             <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix1">Do you offer refunds?</a>
                    </h4>
                </div>
                <div id="collapseSix1" class="panel-collapse collapse">
                    <div class="panel-body">
                       All sales are typically final. We do not offer refunds unless there was a billing error on our end. However, we do offer credit for any unused time on a plan.</a> 
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="panel-title accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix2">My FB ad account has changed - how do I add, remove, or change my Facebook Ad accounts?</a>
                    </h4>
                </div>
                <div id="collapseSix2" class="panel-collapse collapse">
                    <div class="panel-body">
                        You can add or change your Facebook accounts by heading to Data Warehouse -> Integrations and finding the Facebook Ad switch. Click the red "Remove" button and then turn the switch back on (see attached). Go through the steps, select the accounts you want to add and you should be good to go! <br><br><img href="img/FBadSwitch.png" target="_blank"> 
                    </div>
                </div>
            </div>

            <!-- start aliexpress -->
</br>

        <h4>AliExpress Integration</h4>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Is there a video that overviews how the AliExpress integration works?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes! Please <a href="https://www.youtube.com/watch?v=HAjIiGDQqzg" target="_blank">watch here</a> 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen0">Where can I find the AliExpress Chrome Extension?</a>
                </h4>
            </div>
            <div id="collapseTen0" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="https://chrome.google.com/webstore/detail/order-metrics/nhikfjfmbbocncjjfmiagloodmnlchci">Right here!</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">I pay for my AliExpress orders in a different currency than what my Shopify store is in. Can I convert these values so they appear correct in OrderMetrics?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                   Yes, you can apply a conversion under the Settings section of the dashboard. Please note you must re-sync Aliexpress costs via the Chrome Extension after a new conversion rate is entered.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">When do costs from AliExpress show up in OrderMetrics?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    If you use <a href="http://lddy.no/r52" target="_blank">Dropified app</a> then a tracking number is not required to sync costs and costs will show up for each order if you enable the setting called "Save AliExpress Order ID as a standard Order Note". 
            <br>
            <img src="img/dropifiedSetting2.jpg" width="400px;"><br><br>If you use Oberlo or a different service, a tracking number must be reported back to Shopify (this typically happens automatically when an order is shipped). In this case, we highly reccomend you enter product costs under Data Warehouse -> COGS Data as we will fall back on these numbers if an order is not yet shipped.
                </div>
            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">If I use the AliExpress sync, should I still add product costs under the section, Data Warehouse -> COGS Data?</a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes! We highly recommend manually adding your average cost price for each product. If a cost or order is not found in AlIExpress, we will fall back on the costs entered for each product. Please watch <a href="https://www.youtube.com/watch?v=l06nCODLs1M&t=1s" target="_blank">this video</a> for help uploading product costs.
                </div>
            </div>            
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">How does OrderMetrics associate AliExpress orders with Shopify orders?</a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">
                   In general, we associate your AliExpress orders with Shopify orders via tracking number, and therefore your product costs will be available once the AliExpress order has shipped. However, if you are using Dropified App, we will also automatically use the AliExpress Order numbers that Dropified puts in the "Order Note" section. If you are not using Dropified App, we highly recommend you enter product costs under Data Warehouse -> COGS Data as we will fall back on these numbers if an order is not yet shipped.
                    <br><br>
                    * For orders with five or more line items, Dropified may not report all of the AliExpress Order IDs in the order note. In this case, we will still match the remaining AliExpress orders using their tracking number.
                </div>
            </div>            
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">Does my account automatically sync with AliExpress every time I open OrderMetrics?</a>
                </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body">
                   No. You must sync your costs using the “Sync Costs” button on your AliExpress orders/admin page. This button must be pressed for your costs to show up in OrderMetrics. Due to security restrictions with the Chrome Extension, we are not able to press this button on your behalf or access your browser behind the scenes.
                </div>
            </div>            
        </div>
       <!--  end aliexpress -->
</br>

        <!-- start amazon -->
        <h4>Amazon Seller Central Integration</h4>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine2">Can I combine my Amazon sales with my Shopify, Woocommerce, or eBay sales so that all data is in a single dashboard?</a>
                </h4>
            </div>
            <div id="collapseNine2" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes! You can connect multiple storefronts to a single dashboard. This is a great way to see all of your data in one place.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen02">Does the Amazon integration pull in all of my products, orders and costs?</a>
                </h4>
            </div>
            <div id="collapseTen02" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes, we pull in all of your historical data. If you have hundreds of thousands of orders, Amazon may limit the number of requests we can make. If this is the case, please email us hello@ordermetrics.io
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen2">Are Amazon selling fees / commission included?</a>
                </h4>
            </div>
            <div id="collapseTen2" class="panel-collapse collapse">
                <div class="panel-body">
                   Yes, these fees are categorized as "transaction fees" within Ordermetrics and we apply these fees on a per order basis - pulled directly from Amazon.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven2">Does Ordermetrics track FBA shipping and fulfillment fees?</a>
                </h4>
            </div>
            <div id="collapseEleven2" class="panel-collapse collapse">
                <div class="panel-body">
                   Yes, we do track FBA fees on the per order level and allow you to see these values as a sum total based on the date range you have selected. These also may be categorized as "handling fees" within Ordermetrics.
                </div>
            </div>

        </div>
</div>
</br>

</div>
</div>
</div>

      

       <!--  end amazon -->
            <!-- start shipping faq -->

        <!-- <div class="faqHeader">Shipping Costs</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Is there a video that overviews how the AliExpress integration works?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes! Please <a href="https://www.youtube.com/watch?v=HAjIiGDQqzg" target="_blank">watch here</a> 
                </div>
            </div>
        </div> -->
       <!--  end shipping faq -->
    
