<hr>
    <div class="container">
      <div class="col-12">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
          <h2>Data Policy</h2>
    
          <hr>
            <h4>
              <p>At OrderMetrics we take your data privacy seriously. We understand you may be trusting us with sensitive business information and we have taken a few steps as a company to alleviate any data integrity concerns.</p></h4>
              <br>
              <h5>
              <ol>
              <li>When you connect an integration with Order Metrics, we request read-only access and will not modify/write to your sales channels, ad accounts, shipping services, or any other 3rd party applications unless otherwise explicitly noted.</li>
              <br>
              <li>Unless explicitly noted, our application only requests read permissions to fields that are required for Order Metrics to be functional. ie. we do not store extra data that we do not need.</li>
              <br>
  
              <li>We are 100% focused on building the best software we can. We plan to stay in the software business for the forseeable future</li>
              <br>
              <li>Only the partners and vetted full time employees of Order Metrics Inc. have access to your data. We have taken technogical and operational measures to hide client data from any contractors we hire.</li>
              <br>
              <li>All data is stored in a secure AWS database and all connections to Order Metrics are protected by a 256-bit encryption.</li>
              <br>
              <li>We do not sell your data to 3rd parties.</li>
              </ol>
            </h5>
            <hr>
              <h2>OrderMetrics & the GDPR </h2>

As an e-commerce analytics firm, Order Metrics receives and processes personal data from retailers all over the world. Some of our customers will be EU-based stores or sell to EU residents and therefore Order Metrics is required to comply with the GDPR. 
<p>
Retailers (“Customers”)  signing up with Order Metrics are referred to as “Data Controllers” whereas Order Metrics is a “Data Processor” (as these terms are defined by the GDPR). 
<p>
OrderMetrics is committed to being compliant with the GDPR, and enabling our customers to be compliant as well.  We maintain and utilize robust security practices and strive to stay at the forefront of data security. 
<p>
<b>Will you sign a DPA with our company?</b>
<p>
As a Data Processor, to comply with EU GDPR laws, we are required to provide a Data Protection Addendum (DPA).  This DPA applies to our Customers that are subject to the EU General Data Protection Regulation (2016/EC/679) or "GDPR").  
<p>
You don’t have to sign a DPA with Order Metrics. By using the Order Metrics service, you agree to our Terms of Service, Privacy Policy & <a target="_blank" href="/OMDPA.pdf">our DPA</a>.  This satisfies the Article 28(3) provision of the GDPR. 
<p>
If you have a specific DPA you wish us to enter in with us, please contact us at hello@ordermetrics.com and we can review it. 

          </div>

        
      </div>
    </div>
   