<div class="jumbotron hero hero--home" id="hero">
  <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 d-lg-flex justify-content-lg-center flex-column hero__text js-hero-text">
        <h1 class="display-4 text-center text-lg-left wow fadeInLeft"> Profit Analytics for E-Commerce</h1>
        <h3 class="text-muted text-center text-lg-left  wow fadeInLeft" data-wow-delay=".25s">
         Monitoring your profit & marketing performance shouldn't be hard. Get the real-time data you need to make profitable decisions.
        </br>
      </br><a href="#videoModal" class="btn btn-outline mh-auto" data-target="#videoModal" data-toggle="modal"><i class="fas fa-play"></i>  Watch Video</a></h3>
      </div>
    </div>
  </div>

  <div class="hero__illustration js-hero-illustration">
    <img src="/images/illustration-funnel-v2.svg" alt="">
  </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="770" height="600" src="https://www.youtube.com/embed/jWFcGoGgnu4" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>