<div class="jumbotron hero">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 d-lg-flex justify-content-lg-center flex-column hero__text">
        <h1 class="display-4 text-center text-lg-left wow fadeInLeft">How Accurate Are Your Analytics?</h1>
        <h3 class="text-muted text-center text-lg-left  wow fadeInLeft" data-wow-delay=".25s">Profit-based tracking for your e-commerce store</h2>
      </div>
      <div class="col-12 col-lg-6 mt-3 mt-lg-0 wow fadeInRight hero__illustration" data-wow-delay=".5s">
        <img src="/images/illustration-funnel.svg">
      </div>
    </div>
  </div>
</div>