<div class="container integrations">
  <div class="row">
    <div class="col col-12 text-center wow fadeInUp">
      <h3>Easily integrate with other tools</h3>
      <p>OrderMetrics allows you to easily pull all the order & cost data from most common vendors, including:</p>
    </div>
  </div>
  <div class="row pt-3 integrations__logos">
    <div class="col col-6 col-md-4 col-lg-2 wow fadeInUp" data-wow-duration=".5s">
      <img src="/images/integrations/shopify.png" alt="Shopify">
    </div>
    <div class="col col-6 col-md-4 col-lg-2 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".25s">
      <img src="/images/integrations/amazon.png" alt="Amazon">
    </div>
    <div class="col col-6 col-md-4 col-lg-2 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">
      <img src="/images/integrations/aliexpress.png" alt="AliExpress">
    </div>
    <div class="col col-6 col-md-4 col-lg-2 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".75s">
      <img src="/images/integrations/facebook.png" alt="Facebook Ads">
    </div>
    <div class="col col-6 col-md-4 col-lg-2 wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1s">
      <img src="/images/integrations/woo.png" alt="WooCommerce">
    </div>
    <div class="col col-6 col-md-4 col-lg-2 wow fadeInUp" data-wow-duration=".5s" data-wow-delay="1.25s">
      <img src="/images/integrations/adwords.png" alt="Google AdWords">
    </div>
  </div>
  <div class="row pt-3 text-center">
    <div class="col col-12 text-center wow fadeInUp integrations__cta">
      <a href="#" class="btn btn-outline mh-auto">Browse all integrations</a>
    </div>
  </div>
</div>