<div class="container-fluid integrations">
  <div class="row">
    <div class="col text-center wow fadeInUp">
      <h4>Automatically pull and update data from many sources</h4>
    </div>
  </div>
  <div class="row pt-3 integrations__logos" id="integrations">
    <div class="wow fadeIn integration" 
         data-wow-duration=".5s"
         style="top: 20%; left: 5%; transform: scale(0.8), rotate(-10deg)">
      <div class="integration__icon">
        <img src="/images/integrations/shopify.png" alt="Shopify">
      </div>
    </div>
    <div class="wow fadeIn integration" 
         data-wow-duration=".5s"
         data-wow-delay=".25s"
         style="top: 10%; left: 25%">
      <div class="integration__icon">
        <img src="/images/integrations/amazon.png" alt="Amazon">
      </div>
    </div>
    <div class="wow fadeIn integration" 
         data-wow-duration=".5s"
         data-wow-delay=".5s"
         style="bottom: 5%; left: 40%; transform: scale(0.7)">
      <div class="integration__icon">
        <img src="/images/integrations/aliexpress.png" alt="AliExpress">
      </div>
    </div>
    <div class="wow fadeIn integration"
         data-wow-duration=".5s"
         data-wow-delay=".75s"
         style="bottom: 15%; left: 55%; transform: scale(0.95), rotate(8deg)">
      <div class="integration__icon">
        <img src="/images/integrations/facebook.png" alt="Facebook Ads">
      </div>
    </div>
    <div class="wow fadeIn integration" 
         data-wow-duration=".5s"
         data-wow-delay="1s"
         style="top: 4%; left: 70%; transform: scale(0.85)">
      <div class="integration__icon">
        <img src="/images/integrations/woo.png" alt="WooCommerce">
      </div>
    </div>
    <div class="wow fadeIn integration"
         data-wow-duration=".5s"
         data-wow-delay="1.25s"
         style="top: 40%; right: 5%; transform: rotate(12deg)">
      <div class="integration__icon">
        <img src="/images/integrations/adwords.png" alt="Google AdWords">
      </div>
    </div>
  </div>
  <div class="row pt-3 text-center">
    <div class="col col-12 text-center wow fadeInUp integrations__cta">
      <a href="#" class="btn btn-outline mh-auto">Browse all integrations</a>
    </div>
  </div>
</div>