<div class="row questions questions--inverted" id="performanceQuestions">
  <div class="col col-12 col-md-6 col-lg-5 questions__questions">
    <h4>Performance Marketing Optimization</h4>
    <p>Discover valuable insights to help you grow your company.</p>

    <ul class="questions__list  js-questions-navigation">
      <li>
        <a
           class="wow fadeInRight questions__question js-question"
           data-wow-duration=".5s"
           data-question-show="0">
          <span class="d-inline-block mr-2 questions__question__icon">
            <img src="/images/icons/user.svg" alt="">
          </span>
          What is my true customer LTV?
        </a>
      </li>
      <li>
        <a
           class="wow fadeInRight questions__question js-question"
           data-wow-duration=".5s"
           data-wow-delay=".25s"
           data-question-show="1">
          <span class="d-inline-block mr-2 questions__question__icon">
            <img src="/images/icons/thumbs-down.svg" alt="" class="d-inline-block mr-2">
          </span>
          Which ad campaigns are not working?
        </a>
      </li>
      <li>
        <a
           class="wow fadeInRight questions__question js-question"
           data-wow-duration=".5s"
           data-wow-delay=".5s"
           data-question-show="2">
          <span class="d-inline-block mr-2 questions__question__icon">
            <img src="/images/icons/map.svg" alt="" class="d-inline-block mr-2">
          </span>
          What are the most popular customer journeys?
        </a>
      </li>
    </ul>
  </div>
  <div class="col col-12 col-md-6 col-lg-7 wow fadeInLeft questions__answers js-answers">
    <div class="questions__box z-depth-6 js-answer" data-answer="0">
      Answer 1
    </div>
    <div class="questions__box z-depth-6 js-answer" data-answer="1">
      Answer 2
    </div>
    <div class="questions__box z-depth-6 js-answer" data-answer="2">
      Answer 3
    </div>  
  </div>
</div>