<div class="container questions__container">
  <div class="row">
    <div class="col text-center wow fadeInUp">
      <h4>One place to manage your data</h4>
      <p class="text-muted">
        We've been in your shoes! OrderMetrics lets you gather all your costs & revenue
        <br/>
        in one place and easily track where your money goes.
      </p>
    </div>
  </div>

  <%= partial 'components/home/monitoring_questions' %>
  <%= partial 'components/home/performance_questions' %>
</div>