<div class="container questions__container">
  <div class="row">
    <div class="col text-center wow fadeInUp">
      <h3>One place to manage your data</h3>
    </div>
  </div>

  <%= partial 'components/home/monitoring_questions' %>
  <%= partial 'components/home/performance_questions' %>
</div>