<div class="container signup-steps">
  <div class="row">
    <div class="col col-12 signup-steps__heading">
      <h4 class="text-center">Getting started is easy</h4>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 col-lg-4">
      <div class="signup-step">
        <div class="signup-step__illustration">
          <img src="images/home/icon-connect.svg" alt="">
        </div>
        <div class="signup-step__content">
          <h4>Connect your services</h4>
          <p>
          Connect your storefronts, ad accounts, and shipping
          to OrderMetrics to get in a couple of clicks.
          </p>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-4">
      <div class="signup-step">
        <div class="signup-step__illustration">
          <img src="images/home/icon-costs.svg" alt="">
        </div>
        <div class="signup-step__content">
          <h4>Set up your cost structure</h4>
          <p>
          Add your COGS, shipping & transactions fees and any other
          special costs to be included.
          </p>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-4">
      <div class="signup-step">
        <div class="signup-step__illustration">
          <img src="images/home/icon-analytics.svg" alt="">
        </div>
        <div class="signup-step__content">
          <h4>Voila!</h4>
          <p>
            Easily manage your profit analytics and start making
            improvements!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>