<div class="container why">
  <div class="row why__header">
    <div class="col col-12 text-center wow fadeInUp">
      <h4>
        Find out why you need profit-based analytics.
      </h4>
      <h5 class="text-muted text-center wow fadeInUp">
        After years of running e-commerce businesses, we built the
        analytics tool we wish we'd had all along.
      </h5>
    </div>
  </div>
  <div class="row why__content">
    <div class="col col-12 col-lg-4 why__step wow fadeInUp">
      <h1 class="why__step__number">1</h1>
      <div class="why__step__content">
        <h4>Identify Problems</h4>
        <p>
          When you investigate per-order net profit (instead of revenue),
          you'll see ad campaigns or shipping methods that appear to work
          are actually hurting your bottom line.
        </p>
      </div>
    </div>
    <div class="col col-12 col-lg-4 why__step wow fadeInUp" data-wow-delay="0.25s">
      <h1 class="why__step__number">2</h1>
      <div class="why__step__content">
        <h4>Make Smart Decisions</h4>
        <p>
          It's less risky to base spending decisions off accurate profit
          data - like using a true measure of Customer Lifetime Value when
          calculating ad spend.
        </p>
      </div>
    </div>
    <div class="col col-12 col-lg-4 why__step wow fadeInUp" data-wow-delay="0.5s">
      <h1 class="why__step__number">3</h1>
      <div class="why__step__content">
        <h4>Measure Results</h4>
        <p>
          Test out new ad campaigns, shipping methods or product pricing
          and measure the real cashflow effects immediately.
        </p>
      </div>
    </div>
  </div>
</div>