<div class="container why">
  <div class="row justify-content-between">
    <div class="col col-12 col-md-5 pt-4 pt-lg-0 d-flex flex-column justify-content-center wow fadeInUp">
      <h1>
        We built what we always wanted for ourselves. Automatic data analysis with accurate profit.
      </h1>
      <h5 class="text-muted wow fadeInUp">
        We've been in your shoes! We ran our own e-commerce store and were unable to find a complete analytics tool that just worked. 
      </h5>
    </div>
    <div class="col col-12 col-md-6 mt-4 mt-lg-0 why__steps">
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-goal.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Automatic Per Order Profit</h4>
            <p>
              Look at your per-order net profit
              and you'll finally see why ad campaigns or shipping methods that appear to work
              can actually hurt your bottom line.
            </p>
          </div>
        </div>
      </div>
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-cash.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>True Profitability in Real Time</h4>
            <p>
              No more living with 5 different analytics tools and still never knowing how much profit you made each day.
            </p>
          </div>
        </div>
      </div>
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-analyze.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Alerts & Results</h4>
            <p>
              Test out new ad campaigns, shipping methods or product pricing
              and measure the real cashflow effects immediately. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>