<div class="container why">
  <div class="row justify-content-between">
    <div class="col col-12 col-md-5 pt-4 pt-lg-0 d-flex flex-column justify-content-center wow fadeInUp">
      <h1>
        Find out why you need profit-based analytics.
      </h1>
      <h5 class="text-muted wow fadeInUp">
        After years of running e-commerce businesses, we built the
        analytics tool we wish we'd had all along.
      </h5>
    </div>
    <div class="col col-12 col-md-6 mt-4 mt-lg-0 why__steps">
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-goal.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Identify Problems</h4>
            <p>
              When you investigate per-order net profit (instead of revenue),
              you'll see ad campaigns or shipping methods that appear to work
              are actually hurting your bottom line.
            </p>
          </div>
        </div>
      </div>
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-cash.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Make Smart Decisions</h4>
            <p>
              It's less risky to base spending decisions off accurate profit
              data - like using a true measure of Customer Lifetime Value when
              calculating ad spend.
            </p>
          </div>
        </div>
      </div>
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-analyze.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Measure Results</h4>
            <p>
              Test out new ad campaigns, shipping methods or product pricing
              and measure the real cashflow effects immediately.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>