<div class="container why">
  <div class="row justify-content-between">
    <div class="col col-12 col-md-5 pt-4 pt-lg-0 d-flex flex-column justify-content-center wow fadeInUp">
      <h1>
        We built what we always wanted for ourselves. <span class="highlight">Automatic data analysis with accurate profit.</span>
      </h1>
      <h5 class="text-muted wow fadeInUp">
        We've been in your shoes! Our team has run large e-commerce brands and was unable to find a complete analytics tool that really worked. 
      </h5>
    </div>
    <div class="col col-12 col-md-6 mt-4 mt-lg-0 why__steps">
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-goal.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Automatic, Per-Order Analytics</h4>
            <p>
              Look at your per-order net profit after all costs are considered including shipping, ad spend, transaction fees, discounts, refunds and more. 
            </p>
          </div>
        </div>
      </div>
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-cash.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>True Profit in Real Time</h4>
            <p>
              No more living with 5 different analytics tools and still never knowing how much profit you made each day. We combine everything in one place. 
            </p>
          </div>
        </div>
      </div>
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-analyze.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Alerts & Results</h4>
            <p>
              Get daily profit alerts, and measure the real effect of your work. Change your acampaigns, shipping methods or product pricing
              and see the real net cashflow effects immediately. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>