---
title: Bing Ads 
---
<script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>

<div class="jumbotron hero hero--pricing">
  <div class="container">
      <div class="row">
        <div class="col-lg-12 d-lg-flex justify-content-lg-center">
          <h1 class="display-4 text-center text-lg">Bing Ads + OrderMetrics</h1>
        </div>

    </div>

<p class="lead text-muted text-center"> 
Keep a lid on your Bing Ads costs inside OrderMetrics

</p>

  <div class="row usecases">
  <div class="col-12 usecases__intbenefits">
  <h4 class="text-center text-lg">
    How OrderMetrics works with  <img src="/images/integrations/bingads.png" style="height:50px">
  </h4>

    <p class="lead text-muted text-center">
    We make it easy to track your Bing advertising costs, simply connect your account and we do the rest. </br>New! Use our automatic ad tagging feature to see exactly which orders came from which ads. 
    </p>
  
<div class="container" style="padding-top:40px;">

  <div class="row text-center">

    <div class="col-md-4">
      <i class="fas fa-infinity fa-3x" style="color: #737a81"></i>
      <h4 style="padding-top: 7px">Track Cost & Profit</h4>
      <p class="text-muted">Keep your Bing costs in check by monitoring them on your business's daily profit dashboard. </p>
      </p>
    </div>
      <div class="col-md-4">

      <i class="fas fa-life-ring fa-3x" style="color: #737a81"></i>
      <h4 style="padding-top: 7px">Unlimited Order History</h4>
      <p class="text-muted">We impose no limits on how much data we will analyze from Bing.  </p>
      </p>

    </div>
     <div class="col-md-4">

      <i class="fas fa-table fa-3x" style="color: #737a81"></i>
      <h4 style="padding-top: 7px">Profit by Campaign</h4>
      <p class="text-muted">For the first time, see the net profit you made from each of your Bing Ads at the Ad or Campaign level. (Note. this does not work). </p>
      </p>

    </div>
  </div>
</div>
</div>
</div>

</div>
</div>
<div class="container">
  <div class="row usecases">
  <div class="col-12">
  <h4 class="text-center text-lg">
    Get Setup in 5 Minutes
  </h4>

    <ol class="lead text-muted text-center features__list">
  
  <li>From the OrderMetrics Data Warehouse, choose the Integrations tab.</li>
  <li> Set the Bing Ads button to on. </li>
  <li> Connect to Bing and approve our app. </li>
  <li> We automatically start to pull all your advertising costs from Amazon for detailed profit analysis. </li>
  <li> Optional: Tick the box to let us auto-tag your new Bing Ads to enable attribution tracking</li>
  <li>View your store's profit on the main dashboard after all Amazon costs are considered!</li>
    </ol>

</div>
</div>
</div>


<div class="container questions__container">

 <%= partial 'components/home/monitoring_questions' %>
</div>
<%= partial 'components/cta' %>
<%= partial 'components/integrations/quote' %>


