---
title: When to Sell on Amazon - the OrderMetrics Guide to Profit & Growth
---


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta name="description" content="A guide to making profit from selling on Amazon instead of your own store.">
    <meta name="author" content="OrderMetrics">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebApplication",
  "name" : "OrderMetrics",
  "URL" : "https://ordermetrics.com",
  "image" : "https://ordermetrics.com/images/logo-full.svg",
  "description": "Profit Dashboard and Advertising Attribution analytics for E-Commerce Stores",
  "publisher" : {
    "@type" : "Organization",
    "name" : "OrderMetrics Inc"
  },
  "applicationCategory" : "Analytics",
  "screenshot" : "https://www.ordermetrics.com/images/mainDashNew.png",
  "aggregateRating" : {
    "@type" : "AggregateRating",
    "ratingValue" : "4.9",
    "ratingCount" : "31"
  }
}

</script>
</head> 

<body class="body-green">
    <div class="page-wrapper">
        <!-- ******Header****** -->
    <header id="header" class="header">
            <div class="container">
                  <div class="branding">

<a href="https://ordermetrics.com" target="_blank" style="color:inherit;text-decoration: none;">
<h2 class="logo"><span><img width="50px;" src="/profit-guide/assets/images/logo-dark-800.png"></span> OrderMetrics</h2> 
</a> 

</div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/profit-guide/">Profit Guide</a></li>
                    <li class="breadcrumb-item"><a href="/profit-guide/miscellaneous/">Misc</a></li>
                    <li class="breadcrumb-item active">When To Sell On Amazon</li>
                </ol>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title">When To Sell on Amazon Instead Of Your Own Store</h1>
                    <div class="meta"><i class="far fa-clock"></i> Last updated: January 4th, 2019. </div>
                </div><!--//doc-header-->
                <div class="doc-body row">
                    <div class="doc-content col-md-7 col-12 order-1">
                        <div class="content-inner">
                            <section id="intro" class="doc-section">
                                <h2 class="section-title">Intro</h2>
                                <div class="section-block">
                                    
                                    <p>Amazon, the world’s largest store dominates online shopping by sheer numbers. In fact they are expecting to sell over $140bn of net sales in the US alone in 2018. 

                                    </p>
                                    <img class="img-fluid" src="/images/amazon-results.png">
                                    <p><br/>But they don’t dominate it entirely. You don’t have to sell on Amazon to have a great business. 

                                    </p>
                                   
                                    <p>
                                    To decide if it makes sense to sell on Amazon, consider these facts first:

                                    </p>
                                    <ol><li>Amazon charges a lot to sell on it - FBA fees are high and Amazon almost always costs more than running your own store on a per-order basis, and always more than other channels such as eBay.
                                   </li>
                                    <li>Selling on Amazon (and multiple channels generally) gives you access to more potential customers. Multi-channel sellers are shown to get more customers than single channel. It makes sense, having an Amazon and eBay and Shopify store at once can give you more places customers can find you, theoretically increasing the number of people who will find you. 
                                    </li>
                                    </ol>
                                    <p>
                                    So you need to decide if it’s worth it to take a hit on your profit margin, to have access to more customers. 
                                    </p>
                                   
                                    <h3>Why Should You Trust Us?</h3>
                                            <p>This was written by <a href="https://www.linkedin.com/in/georgesylvain/" target="_blank">George Sylvain</a>, co-founder of <a href="https://www.socialprintstudio.com" target="_blank">Social Print Studio</a>, a popular e-commerce photo printing store & app. 
                                            Additional help was provided by <a href="https://www.linkedin.com/in/henrykronick/" target="_blank">Hank Kronick</a>, founder of <a href="https://www.ordermetrics.com" target="_blank">Order Metrics</a> and data analysis specialist. </p>
                                            <p>We've got a combined 16 years of e-commerce experience and have personally used every technique described in this guide and seen the results in practice. </p>
                                
                                </div>
                            </section><!--//doc-section-->

                              <section class="doc-section">
                                <h2 class="section-title" id="when-amazon">When Amazon Makes Sense</h2>
                                <div class="section-block">
                                    <p>Amazon makes sense as one of your main selling platforms in the following situations:</p>
                                
                                   <ol>
                                    <li>
                                        You are selling a commodity item and don’t mind making next to nothing in profit for each sale!  #racetothebottom
                                    </li>
                                    <li>
                                        You’re a new business with no customers and you don’t have a good way for people to be able to find you, like PR. 
                                    </li>
                                    <li>You sell used & refurbished items that are already listed on Amazon - (people click the Used button frequently and if you can compete on price & good reviews you have a great channel.)
                                    </li>
                                    <li>If people are searching Amazon for your brand name already, you should probably take advantage of that by becoming an Amazon seller.
                                    </li>
                                    <li>Your product is electronics or books or cheap household goods - categories Amazon dominates entirely.</li>
                                </ol>

                                    <p>If you have your own established brand, making your own products and are reasonably successful, it can still be a harder decision to sell on Amazon. In some ways it's good, because there are real customers who want to buy your products. But it comes with real costs. 
                                    </p>
                            </div>
                             <h2 class="section-title" id="what-amazon">What You Give Up Selling With Amazon</h2>
                                <div class="section-block">
                                    <p><b>You lose the ability to control the customer experience.</b> You lose much of the ability to have customers feel and learn about your brand, especially if you are a creative or visual company. You are constrained to the Amazon look. You can't try unique design and selling ideas like this perfume company:
                                        <img class="img-fluid" src="/images/another-screenshot.png" alt="beautiful storefront of ANother">
                                    </p> 
                                    <p><b>You lose the ability to market to the customer in the future.</b> The customer relationship belongs to Amazon!  It's going to be harder to find the same customer again and market to them, or tell them about new products you have launched. 
                                    </p>
                                    <p><b>You give up at least 15%, sometimes more in margin</b> (a typical average cost inclusive of all the FBA and storage fees).
                                    </p>
                                    <p><b>You don't have control of whether your store stays online.</b> Amazon is notoriously tough on the vendors who sell on there and often you have no recourse in the case where their algorithms or faceless employees decide to remove your listings. </p>

                                    <p><b>But,</b> if people are searching your brand name on Amazon, and you are not selling there, they will find copycats, competitors, knock-offs or resellers taking your place. 
                                    </p>
                                    <p>So it makes sense to try to capture some of that market.</p>
                                    
                                </div>
                                <h2 class="section-title" id="understand-amazon">So Should We Sell on Amazon?</h2>
                                <div class="section-block">
                                    <p>For most established e-commerce businesses who are not based on Amazon, it can be a difficult decision to decide when to sell on Amazon.</p>
                                    <p>If people are searching Amazon for your brand name already, you should probably take advantage of that by becoming an Amazon seller. </p>
                                    <p>Just remember the cons above, you will make less profit on those orders and you can't remarket to these customers. 
                                    </p>
                                    <p>In our opinion the best way to sell on Amazon as an established brand is to <b>use it to liquidate your excess stock,</b> or sell your “second-tier” SKUs or accessories, which don’t compete with the main items your business sells.
                                    </p>
                                    <p>Most businesses have items they tried at various points which have not sold so well. Holding on to them for a long period of time is likely killing your profitability by raising your long term storange & inventory costs, as well as the fact you've bought something that you never sold. </p>
                                    <p>Often clearing out old inventory can be overlooked as a way to boost profits. That's why we recommend this killing 2-birds-1-stone approach of setting up an Amazon store specifically for clearance items. </p>
                                    <p>This allows you to capture some of the customers who are searching for your brand on Amazon, without cannibalizing your own store’s higher margin sales of your best items, while boosting your cash profit. 
                                    </p>
                                    <p>Now if you put your best items on Amazon, you’ll be taking an unnecessary profit hit, assuming customers are finding your store plenty as it is. And if any of your popular items have some success on Amazon, it will be detected by algorithmic sellers and Amazon themselves, leading them to compete directly with you when they inevitably launch a private label verison of your product. </p>

                                </p>
                                 <h3 class="block-title" id="prime">What About Prime Customers?</h3>

                                <p>
                                   A common myth is that Prime Members only buy on Amazon. In truth they tend to be the biggest internet shoppers around, and some of the savviest. They do like Amazon but will comparison shop at a lot of different stores. And often they are wealthier and enjoy shopping, and do it at many types of business. 
                                   </p>
                                   <p> So don’t sell on Amazon just to have access to Prime customers, they are not so blindly loyal to Amazon. </p>
                                   <p>Of course there are also going to be some Prime customers who try to only buy on Prime to get their fast free shipping, but if your own store also offers that, it's not going to be a deterrent. </p>
                             </div>


                                 <h2 class="section-title" id="amazon-best">Get Started With Liquidating Stock on Amazon</h2>
                                <div class="section-block">
                                <p>If you are a new seller, you need to read some guides to making the best possible Amazon store. We might publish our own eventually but there are a<a href="https://www.bigcommerce.com/blog/selling-on-amazon/" target="_blank"> few good ones out there. </a></p>
                                <p>Assuming you have a pretty good store yourself already, it's not that complicated. You need to use the right keywords, use beautiful photos, write compelling descriptions, take advantage of anything Amazon lets you do to make your page beautiful. </p>
                                <p>Then you need reviews, ASAP! Products without reviews on Amazon don't sell at all. </p>
                                <p>The next thing you need to do is set up a sale... there are a few types of sale on Amazon, we recommend you skip the Lightning Deal to tart and just create a sale from the Offer Tab in Manage Inventory. </p>

                                <p>
                                Make sure you jump in slowly -  don’t send Amazon stock that won’t sell at all or you will end up getting the dreaded long-term-FBA-storage fees Amazon, which levies twice a year on all products that have been in the warehouse over 6 months. </p>
                                <p>But you should be using FBA, make no mistake. It's the reason Amazon selling is good in the first place. Amazon's fulfillment speed and trustworthiness is it's biggest asset and if you are going to make an Amazon listing you should use FBA. </p>
                                <p>We have heard of some sales and deals that do not end up getting any clicks because you don't have enough inventory either. Amazon doesn't want to show promotions to a ton of people if they know there's not enough stock to fulfill orders to all of them. So there's a balance to strike between putting enough stock to get the deal visible, but not so much that you'll never sell it all. </p> 

                                <h3 class="block-title" id="amazon-ppc">Take Advantage of Amazon PPC</h3>
                                <p>Amazon PPC is still quite cheap advertising and growing, in a world where advertising is getting harder we do recommend using emerging platforms over established. Time and time again we see the best value in advertising occur in new platforms before they get fully established.  If you’ve been advertising on Instagram for a while, you will know what we mean. 
                                </p>
                                <p>Still, Amazon PPC is growing every day as more and more people are jumping in and Amazon is making the platform better for advertisers. </p>
                                <P>There are plenty of guides out there for Amazon PPC as well, but the key things to do are the same as all other PPC ads.  <b>Get your keywords right, take advantage of the AI tools, constantly tweak the ads</b>, and you'll succeed.
                                </P>

                                <h3 class="block-title" id="summary">Summary</h3>
                               <p>Selling on Amazon is not without it's risks, which is why we recommend a dual-strategy approach for your multi channel commerce.   </p>
                               <p>On your main site, which should be your own web store you sell all your flagship products and try to get the majority of your customers.  On Amazon, sell sale and overstock items, second tier branded accessories and anything else that aren't your key profit drivers.  It's a great channel to move unsold inventory quickly thanks to the massive customer base, and it can be powerful to attract new customers to your business if you are just starting out.
                             </p>

                               <h3>About This Guide</h3>
                                  <p>The Order Metrics Profit & Growth guide is designed to help you unlock the most profit for your e-commerce business. 
                                   </p>
                                    
                                  <p>These are <b>serious tested techniques could help you grow your business</b> and put some cash back in your pocket so you can invest in things that matter to you. </p>
                                    <p>Check out the other <a href="../../">articles we have written back at our profit guide index</a>.</p>
                         </div>
                               
                            </section><!--//doc-section-->


        
                            
                            </section><!--//doc-section-->
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">
	                        
	                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
	                                <a class="nav-link scrollto" href="#intro">Intro</a>           
	                                <a class="nav-link scrollto" href="#when-amazon">When Should You Sell on Amazon</a>
                                    <a class="nav-link scrollto" href="#what-amazon">Downsides of Amazon</a>
	                                <a class="nav-link scrollto" href="#understand-amazon">So Should We Do It?</a>
                                     <a class="nav-link scrollto" href="#prime">Note On Prime Customers</a>
                                     <a class="nav-link scrollto" href="#amazon-best">Get Started With Liquidating</a>
                                    <a class="nav-link scrollto" href="#amazon-ppc">Use Amazon PPC</a>
	                                <a class="nav-link scrollto" href="#summary">Summary</a>
	                            </nav><!--//doc-menu-->
	                        
                        </div>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->

<%= partial 'components/profit-guide/footer' %>


