<div class="container" style="padding-top: 50px">

  <div class="row">
       <div class="well">
          <div class="row">
              <div class="col-md-12" align="center">
                <h1> Attribution by OrderMetrics</h1>
                <!-- <h3>The only system to accurately...</h3> --><h2>Discover & optimize your most <i>profitable</i> ecommerce marketing channels</h2>
                <div class="col-md-8 col-md-offset-2">
                <p>Revenue can be misleading. See profitability & LTV for each paid & organic marketing campaign after product costs, discounts, refunds, shipping costs, transaction fees, and advertising spends are considered for every single order.</p>
                </div>
                <br><br>
                <!-- <img style="" width="50%;" src="img/attribution2.png"> -->
                <div class="row">
                 <div class="col-md-">
                 </div>

                </div>
                <a href="#videoModal" data-toggle="modal" data-target="#videoModal"><img style="" width="50%;" src="images/attribution/mainDashNew.png"></a>
                 <br>
                <a href="https://app.ordermetrics.io/begin?utm_source=ordermetricsio" target="_blank"><button class="btn btn-lg btn-primary">Start 14-day free trial</button></a>
              <!-- <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#videoModal">
      Watch Video
    </button> -->
              <h6 class="text-muted" style="padding-top: 10px;">Attribution is included with the <a href="https://www.ordermetrics.com/" target="_blank">Order Metrics dashboard</a></h6>
              </div>
          </div>
        </div>

    </div>

    <div class="row" style="padding-top: 50px;">
      <div class="col-md-12">
        <h2 align="center">How it works</h2>
        <section class="cd-timeline js-cd-timeline">
    <div class="cd-timeline__container">
      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">1</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>You are only few clicks away!</h2>
           <img width="100px" src="images/integrations/shopify.png">
            <img height="40px" src="images/integrations/woo.png">
          <img height="40px" src="images/integrations/facebook.png">
        <img width="130px" src="images/integrations/googleanalytics.png">
        <img width="100px" src="images/integrations/adwords.png">
        <img width="100px" src="images/integrations/aliexpress.png">
        <img width="155px" src="images/integrations/shipstation.png">
        <h5 align="center" class=""><a href="/integrations.html" target="_blank">View all integrations</a></h5>
          <span class="cd-timeline__date">Connect data sources</span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">2</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Manage product & shipping costs with ease</h2>         
          <a href="#costPhotoModal" data-toggle="modal" data-target="#costPhotoModal"><img style="border-radius: 15px;" width="100%" src="images/attribution/cogs.png"></a>
          <span class="cd-timeline__date">Enter cost data</span>
          <h6>*Automatically sync this data via our integrations, upload via spreadsheet, or enter manually</h6>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">3</h1>
        </div>
        <div class="cd-timeline__content js-cd-content">
          <h2>Automatically tag your Facebook and Google Ad campaigns</h2>
          <p>Never forget to tag your Ads again. Our system automatically attributes sales to specific Ads so you can monitor performance with ease.</p>
          <img style="border-radius: 15px;" width="100%" src="images/attribution/tracking.png">
          <span class="cd-timeline__date">Auto-ad tracking</span>
         
        </div> 
      </div> 

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--location js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">4</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Monitor each marketing channel's net profit & LTV performance</h2>
          <h6>After all expenses & refunds are considered</h6>
        <a href="#channelPhotoModal" data-toggle="modal" data-target="#channelPhotoModal"><img style="border-radius: 15px;" width="100%" src="images/attribution/attribution.png"></a>
          <span class="cd-timeline__date">Analyze campaigns</span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">5</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Optimize each campaign & advertisement</h2>
          <h5>Optimize <b>Facebook, Google Adwords, & influencer marketing</b> campaigns by turning off low profit campaigns, increasing bids on high profit campaigns, and optimizing product pricing</h5>
          <a href="#diveDeepModal" data-toggle="modal" data-target="#diveDeepModal"><img style="border-radius: 15px;" width="100%" src="images/attribution/diveDeepAttribution.jpg"></a>
          <span class="cd-timeline__date">Dive deeper</span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

       <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--location js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">6</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Analyze Product profitability after Ad Spend</h2>
        <a href="#productAttributionModal" data-toggle="modal" data-target="#productAttributionModal"><img style="border-radius: 15px;" width="100%" src="images/attribution/productAttribution.jpg"></a>
          <span class="cd-timeline__date">Product profitability</span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->


     <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">7</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Analyze Order profitability after Ad Spend</h2>
          <a href="#orderAttributionModal" data-toggle="modal" data-target="#orderAttributionModal"><img style="border-radius: 15px;" width="100%" src="images/attribution/orderAttribution.jpg"></a>
          <span class="cd-timeline__date">Order Profitability</span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">8</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Get setup in 10 minutes</h2>
          <a href="/pricing.html"><button class="btn btn-info-outline">View pricing</button></a>
          <span class="cd-timeline__date"></span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->
    </div>
  </section> <!-- cd-timeline -->

      </div>
    </div>
</div>

<!-- cost photo modal -->
<div class="modal fade" id="costPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div align="center" class="modal-header">
    <h4>Not using one of our <a href="/integrations.html" target="_blank">integrations</a>? No problem! Mange COGS & Ship costs with our simple tools</h4>
    </div>
      <div class="modal-body">
        <img width="100%" src="img/cogs.png">
    </div>
  </div>
</div>
</div>

<!-- channel photo modal -->
<div class="modal fade" id="channelPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div align="center" class="modal-header">
    <h4>Monitor Net Profit & LTV for each marketing channel</h4>
    </div>
      <div class="modal-body">
        <img width="100%" src="img/attribution.png">
    </div>
  </div>
</div>
</div>
<!-- dive deep  modal -->
<div class="modal fade" id="diveDeepModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div align="center" class="modal-header">
    <h4>Dive deep to optimize Net Profit & LTV for each campaign & advertisement</h4>
    </div>
      <div class="modal-body">
        <img width="100%" src="img/diveDeepAttribution.jpg">
    </div>
  </div>
</div>
</div>

<!-- product  modal -->
<div class="modal fade" id="productAttributionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div align="center" class="modal-header">
    <h4>Analyze Product Profitability after attributed Ad Spend</h4>
    </div>
      <div class="modal-body">
        <img width="100%" src="img/productAttribution.jpg">
    </div>
  </div>
</div>
</div>

<!-- order  modal -->
<div class="modal fade" id="orderAttributionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div align="center" class="modal-header">
    <h4>Analyze Order Profitability after attributed Ad Spend</h4>
    </div>
      <div class="modal-body">
        <img width="100%" src="img/orderAttribution.jpg">
    </div>
  </div>
</div>
</div>

<!-- VideoModal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="770" height="600" src="https://www.youtube.com/embed/22le0t_CxGY" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>