<div class="jumbotron hero hero--home" id="hero">
  <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 d-lg-flex justify-content-lg-center flex-column hero__text js-hero-text">
        <h1 class="display-4 text-center text-lg-left wow fadeInLeft"> Attribution by OrderMetrics</h1>
        <h3 class="text-muted text-center text-lg-left  wow fadeInLeft" data-wow-delay=".25s">
         See how all your marketing works together, including paid ads, email marketing, social media & organic. 
        </br>
      </br><a href="#videoModal" class="btn btn-outline mh-auto" data-target="#videoModal" data-toggle="modal"><i class="fas fa-play"></i>  Watch Video</a></h3>
      </div>
    </div>
  </div>

  <div class="hero__illustration js-hero-illustration">
    <img src="/images/hero-funnel-george.svg" alt="">
  </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe style="margin: 0 auto;" width="770" height="600" src="https://www.youtube.com/embed/jWFcGoGgnu4" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>


<%= partial 'components/attribution/why' %>
<%= partial 'components/attribution/questions' %>





    <div class="row" style="padding-top: 110px;">
      <div class="col-md-12">
        <h2 align="center">How it works</h2>
        <section class="cd-timeline js-cd-timeline">
    <div class="cd-timeline__container">
      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">1</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>You are only few clicks away!</h2>
           <img width="100px" src="images/integrations/shopify.png">
            <img height="40px" src="images/integrations/woo.png">
          <img height="40px" src="images/integrations/facebook.png">
        <img width="130px" src="images/integrations/googleanalytics.png">
        <img width="100px" src="images/integrations/adwords.png">
        <img width="100px" src="images/integrations/aliexpress.png">
        <img width="155px" src="images/integrations/shipstation.png">
        <h5 align="center" class=""><a href="/integrations.html" target="_blank">View all integrations</a></h5>
          <span class="cd-timeline__date">Connect data sources</span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">2</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Manage product & shipping costs with ease</h2>         
          <a href="#costPhotoModal" data-toggle="modal" data-target="#costPhotoModal"><img style="border-radius: 15px;" width="100%" src="images/attribution/cogs.png"></a>
          <span class="cd-timeline__date">Enter cost data</span>
          <h6>*Automatically sync this data via our integrations, upload via spreadsheet, or enter manually</h6>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">3</h1>
        </div>
        <div class="cd-timeline__content js-cd-content">
          <h2>Automatically tag your Facebook and Google Ad campaigns</h2>
          <p>Never forget to tag your Ads again. Our system automatically attributes sales to specific Ads so you can monitor performance with ease.</p>
          <img style="border-radius: 15px;" width="100%" src="images/attribution/tracking.png">
          <span class="cd-timeline__date">Auto-ad tracking</span>
         
        </div> 
      </div> 

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--location js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">4</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Monitor each marketing channel's net profit & LTV performance</h2>
          <h6>After all expenses & refunds are considered</h6>
        <a href="#channelPhotoModal" data-toggle="modal" data-target="#channelPhotoModal"><img style="border-radius: 15px;" width="100%" src="images/attribution/attribution.png"></a>
          <span class="cd-timeline__date">Analyze campaigns</span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">5</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Optimize each campaign & advertisement</h2>
          <h5>Optimize <b>Facebook, Google Adwords, & influencer marketing</b> campaigns by turning off low profit campaigns, increasing bids on high profit campaigns, and optimizing product pricing</h5>
          <a href="#diveDeepModal" data-toggle="modal" data-target="#diveDeepModal"><img style="border-radius: 15px;" width="100%" src="images/attribution/diveDeepAttribution.jpg"></a>
          <span class="cd-timeline__date">Dive deeper</span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

       <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--location js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">6</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Analyze Product profitability after Ad Spend</h2>
        <a href="#productAttributionModal" data-toggle="modal" data-target="#productAttributionModal"><img style="border-radius: 15px;" width="100%" src="images/attribution/productAttribution.jpg"></a>
          <span class="cd-timeline__date">Product profitability</span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->


     <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">7</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Analyze Order profitability after Ad Spend</h2>
          <a href="#orderAttributionModal" data-toggle="modal" data-target="#orderAttributionModal"><img style="border-radius: 15px;" width="100%" src="images/attribution/orderAttribution.jpg"></a>
          <span class="cd-timeline__date">Order Profitability</span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
          <h1 align="center" style="color:white;line-height: 55px;">8</h1>
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content js-cd-content">
          <h2>Get setup in 10 minutes</h2>
          <a href="/pricing.html"><button class="btn btn-info-outline">View pricing</button></a>
          <span class="cd-timeline__date"></span>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->
    </div>
  </section> <!-- cd-timeline -->

  <h3 align="center">Frequently Asked Questions</h3>
     <hr>

    <div class="row">
       <div style="height:150px;" class="col-md-6 well">
          <h4><b>Which ecommerce platforms does this work for?</b></h4>
          <h6>a) Currently our attribution module works with <a href="https://apps.shopify.com/order-metrics-profit-analytics" target="_blank">Shopify</a>. <a href="https://wordpress.org/plugins/ordermetrics-io/" target="_blank">Woocommerce</a> support is coming soon.</h6>
       </div>
       <div style="height:150px;" class="col-md-6 well">
          <h4><b>How accurate is this, really?</b></h4>
          <h6>a) Extremly accurate! We calculate the true profitability for every single order. This includes shipping costs, product costs, transaction fees, discounts, refunds...you name it!</h6>
       </div>
   </div>

     <div class="row">
       <div style="height:150px;" class="col-md-6 well">
          <h4><b>What is the OrderMetrics Financial dashboard?</b></h4>
          <h6>a) <a href="https://ordermetrics.com" target="_blank">Our dashboard</a> is what powers the attribution feature. It crunches the data so that the attribution module can work properly and accurately. Plus, you get an awesome dashboard to see all of your analytics in one place </h6>
       </div>
       <div style="height:150px;" class="col-md-6 well">
          <h4><b>What type of attribution model do you use?</b></h4>
          <h6>a) We currently rely on Google Analytic's last touch attribution model. In our Top Customer Journeys we allow you to choose between Position Based, Last Click Non Direct, Linear & Time Decay. For more info, <a href="https://ordermetrics.com/profit-guide/optimizing-paid-marketing/understand-attribution/">read our guide to Attribution Models.</a></h6>
       </div>
   </div>

    <div class="row">
       <div style="height:200px;" class="col-md-6 well">
          <h4><b>Is my data safe?</b></h4>
             <h6>a) Yes! Please <a href="https://www.ordermetrics.io/data-policy.html" target="_blank">read our data policy</a></h6>

       </div>
       <div style="height:200px;" class="col-md-6 well">
          <h4><b>I am bad at remembering to tag my marketing campaign URL's - will this still work?</b></h4>
          <h6>a) Yes! The attribution module includes a feature to automatically tag your Facebook and Google Advertising campaigns. All of your campaigns will be tagged properly to work with our attribution module. This feature will appends your url so any exisiting tags (UTM or otherwise) will not be disrupted</h6>
       </div>
   </div>

    <div class="row">
       <div style="height:220px;" class="col-md-6 well">
          <h4><b>Will auto-tagging hurt my Ad performance?</b></h4>
             <h6>a) Using our Auto-tagging system should not hurt Ad performance as we only apply tagging to newly created ads. Tagging existing ads can cause ads to go back into 'review' which can cause engagement or data loss. We avoid this risk by only tagging new ads before they have any engagement or pixel data. </h6>

       </div>
       <div style="height:220px;" class="col-md-6 well">
          <h4><b>What is required for Attribution to work properly?</b></h4>
             <h6>a) You must have Google Analytics installed on your site, connected to Ordermetrics, and have <a href="https://support.google.com/analytics/answer/6032539?hl=en" target="_blank">enhanced ecommerce tracking</a> enabled. Additionally, you will want to make sure the auto-tagging checkbox is checked beneath your Facebook Ad integration switch (You can find this checkbox under Data Warehouse -> Integrations -> Facebook Ads after signing up) </h6>

       </div>
   </div>

      </div>
    </div>
  </div>

<!-- cost photo modal -->
<div class="modal fade" id="costPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div align="center" class="modal-header">
    <h4>Not using one of our <a href="/integrations.html" target="_blank">integrations</a>? No problem! Mange COGS & Ship costs with our simple tools</h4>
    </div>
      <div class="modal-body">
        <img width="100%" src="img/cogs.png">
    </div>
  </div>
</div>
</div>

<!-- channel photo modal -->
<div class="modal fade" id="channelPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div align="center" class="modal-header">
    <h4>Monitor Net Profit & LTV for each marketing channel</h4>
    </div>
      <div class="modal-body">
        <img width="100%" src="img/attribution.png">
    </div>
  </div>
</div>
</div>
<!-- dive deep  modal -->
<div class="modal fade" id="diveDeepModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div align="center" class="modal-header">
    <h4>Dive deep to optimize Net Profit & LTV for each campaign & advertisement</h4>
    </div>
      <div class="modal-body">
        <img width="100%" src="img/diveDeepAttribution.jpg">
    </div>
  </div>
</div>
</div>

<!-- product  modal -->
<div class="modal fade" id="productAttributionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div align="center" class="modal-header">
    <h4>Analyze Product Profitability after attributed Ad Spend</h4>
    </div>
      <div class="modal-body">
        <img width="100%" src="img/productAttribution.jpg">
    </div>
  </div>
</div>
</div>

<!-- order  modal -->
<div class="modal fade" id="orderAttributionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div align="center" class="modal-header">
    <h4>Analyze Order Profitability after attributed Ad Spend</h4>
    </div>
      <div class="modal-body">
        <img width="100%" src="img/orderAttribution.jpg">
    </div>
  </div>
</div>
</div>

<!-- VideoModal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="770" height="600" src="https://www.youtube.com/embed/22le0t_CxGY" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>