<div class="row questions" id="monitoringQuestions">
  <div class="col col-12 col-md-6 col-lg-5 questions__questions">
    <h4>LTV by Channel & Campaign</h4>
    <p>The easiest way to understand marketing attribution is to view your customer journeys. We made a feature for that through any and all ad campaigns. </p>

    <ul class="questions__list js-questions-navigation">
      <li>
        <a
           class="wow fadeInLeft d-flex questions__question js-question"
           data-question-show="0">
          <span class="d-inline-block mr-2 questions__question__icon">
            <img src="/images/icons/profit.svg" alt="">
          </span>
          Which marketing channel has the highest LTV?
        </a>
      </li>
      <li>
        <a
           class="wow fadeInLeft d-flex questions__question js-question"
           data-wow-duration=".5s"
           data-wow-delay=".25s"
           data-question-show="1">
          <span class="d-inline-block mr-2 questions__question__icon">
            <img src="/images/icons/badge.svg" alt="" class="d-inline-block mr-2">
          </span>
         Can I see LTV for each individual ad or campaign?
        </a>
      </li>
      <li>
        <a
           class="wow fadeInLeft d-flex questions__question js-question"
           data-wow-duration=".5s"
           data-wow-delay=".25s"
           data-question-show="2">
          <span class="d-inline-block mr-2 questions__question__icon">
            <img src="/images/icons/ship.svg" alt="" class="d-inline-block mr-2">
          </span>
          How do I attract more high value customers?
        </a>
      </li>
    </ul>
  </div>
  <div class="col col-12 col-md-6 col-lg-7 wow fadeInRight questions__answers js-answers">
    <div class="questions__box z-depth-6 js-answer" data-answer="0">
      <div class="questions__box__illustration">
        <img src="/images/attribution/ltv-screenshot-attribution.png" alt="">
      </div>
      <div class="questions__box__caption">
        <p>
          You can see exactly which channel and even which individual ad has the highest LTV, so you can double down on the ads which really make you a profit. 
        </p>
      </div>
    </div>
    <div class="questions__box z-depth-6 js-answer" data-answer="1">
      <div class="questions__box__illustration">
        <img src="/images/home/illustration-orders.png" alt="">
      </div>
      <div class="questions__box__caption">
        <p>
          For all the marketing channels that we have costs for, like Facebook Ads & Google Adwords, we can show you the LTV:CAC ratio.
        </p>
      </div>
    </div>
    <div class="questions__box z-depth-6 js-answer" data-answer="2">
      <div class="questions__box__illustration">
        <img src="/images/home/illustration-shipping.png" alt="">
      </div>
      <div class="questions__box__caption">
        <p>
          OrderMetrics allows you to export the customer list from your top performing campaigns, which you can use to retarget or create lookalike audiences. 
      </div>
    </div> 
  </div>
</div>