<div class="row questions" id="monitoringQuestions">
  <div class="col col-12 col-md-6 col-lg-5 questions__questions">
    <h4>LTV by Campaign</h4>
    <p>The easiest way to understand marketing attribution. View your customer journeys through any and all ad campaigns. </p>

    <ul class="questions__list js-questions-navigation">
      <li>
        <a
           class="wow fadeInLeft d-flex questions__question js-question"
           data-question-show="0">
          <span class="d-inline-block mr-2 questions__question__icon">
            <img src="/images/icons/profit.svg" alt="">
          </span>
          Which marketing channel has the highest LTV?
        </a>
      </li>
      <li>
        <a
           class="wow fadeInLeft d-flex questions__question js-question"
           data-wow-duration=".5s"
           data-wow-delay=".25s"
           data-question-show="1">
          <span class="d-inline-block mr-2 questions__question__icon">
            <img src="/images/icons/badge.svg" alt="" class="d-inline-block mr-2">
          </span>
         Which specific ads generate the most profit?
        </a>
      </li>
      <li>
        <a
           class="wow fadeInLeft d-flex questions__question js-question"
           data-wow-duration=".5s"
           data-wow-delay=".25s"
           data-question-show="2">
          <span class="d-inline-block mr-2 questions__question__icon">
            <img src="/images/icons/ship.svg" alt="" class="d-inline-block mr-2">
          </span>
          Which orders cost the most to ship?
        </a>
      </li>
    </ul>
  </div>
  <div class="col col-12 col-md-6 col-lg-7 wow fadeInRight questions__answers js-answers">
    <div class="questions__box z-depth-6 js-answer" data-answer="0">
      <div class="questions__box__illustration">
        <img src="/images/home/illustration-profit.png" alt="">
      </div>
      <div class="questions__box__caption">
        <p>
          See your true daily net profit! Works across multiple storefronts, combining Shopify,
          eBay, Amazon & WooCommerce. You net profit is accurate after all costs, including 
          shipping, ad spend, COGS & more. 
        </p>
      </div>
    </div>
    <div class="questions__box z-depth-6 js-answer" data-answer="1">
      <div class="questions__box__illustration">
        <img src="/images/home/illustration-orders.png" alt="">
      </div>
      <div class="questions__box__caption">
        <p>
          Sort your orders by profit margin to see where you are making (or losing!) money.
          Drill down to see each specific product’s profitability as well as popular product
          combinations. 
        </p>
      </div>
    </div>
    <div class="questions__box z-depth-6 js-answer" data-answer="2">
      <div class="questions__box__illustration">
        <img src="/images/home/illustration-shipping.png" alt="">
      </div>
      <div class="questions__box__caption">
        <p>
          Understand how shipping costs are affecting your margin. We pull shipping data 
          from Shipstation, Shippo & many more. Rank orders by shipping cost to 
          identify and fix issues fast.
        </p>
      </div>
    </div> 
  </div>
</div>