<div class="row usecases">
  <div class="col col-12 mt-3 usecases__intbenefits">
  <h4 class="text-center text-lg display-5">
    Are you spending your ad money wisely? 
  </h4>

        <div class="d-flex flex-column flex-md-row why__step__content pt-4">
          
       <p class="mr-5 why__step__content__icon">If you don't know, OrderMetrics attribution modeling can tell you. We make it easy! Get setup in minutes and stop running unprofitable ads. </p>
        </div>

  <div class="row text-center">

    <div class="col-md-6">
      <i class="fas fa-infinity fa-3x" style="color: #737a81"></i>
      <h4 style="padding-top: 7px">Multi-Touch Attribution</h4>
      <p class="text-muted">Understand how all your marketing campaigns work together to drive sales. The reporting tools from Google, Facebook, Mailchimp etc all default to last-touch only which can be misleading. </p>
      </p>
    </div>

      <div class="col-md-6">

      <i class="fas fa-life-ring fa-3x" style="color: #737a81"></i>
      <h4 style="padding-top: 7px">LTV By Marketing Channel</h4>
      <p class="text-muted">Each of your marketing channels can drive a different sort of customer. Compare the LTV of customers you acquire from Facebook to Google Adwords or Organic Search.  </p>
      </p>

    </div>
  </div>

      </div>
    </div>
<!-- <div class="container why" style="padding-top: 60px">
  <div class="row justify-content-between">
    <div class="col col-12 col-md-5 pt-4 pt-lg-0 d-flex flex-column justify-content-center wow fadeInUp">
      <h1>
       Are you spending your ad money wisely?
      </h1>
      <h5 class="text-muted wow fadeInUp">
         If you don't know, you need attribution modeling. We make it easy! Get setup in minutes and stop running unprofitable ads.
      </h5>
    </div>
    <div class="col col-12 col-md-6 mt-4 mt-lg-0 why__steps">
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-goal.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>LTV By Ad Platform</h4>
            <p>
              Running expensive advertising campaigns can impact the long term value of customers you acquire this way. We show the LTV for customers acquired through each ad channel. 
            </p>
          </div>
        </div>
      </div>
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-cash.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Top Customer Journeys</h4>
            <p>
              It's hard to undertand attribution. Our top customer journeys feature makes it easy and can show you previously bkah blah 
            </p>
          </div>
        </div>
      </div>
   
    </div>
  </div>
</div> -->