<div class="container why" style="padding-top: 60px">
  <div class="row justify-content-between">
    <div class="col col-12 col-md-5 pt-4 pt-lg-0 d-flex flex-column justify-content-center wow fadeInUp">
      <h1>
       Are you spending your ad money wisely?
      </h1>
      <h5 class="text-muted wow fadeInUp">
         If you don't know, you need attribution modeling. We make it easy! Get setup in minutes and stop running unprofitable ads.
      </h5>
    </div>
    <div class="col col-12 col-md-6 mt-4 mt-lg-0 why__steps">
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-goal.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Automatic, Per-Order Analytics</h4>
            <p>
              Look at your per-order net profit after all costs are considered including shipping, ad spend, transaction fees, discounts, refunds and more. We combine everything in one place - no spreadsheets. 
            </p>
          </div>
        </div>
      </div>
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-cash.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>True Profit In Real Time</h4>
            <p>
              No more living with 5 different analytics tools and still not knowing how much profit you make each day. Get daily profit alerts to stay on top of your business.
            </p>
          </div>
        </div>
      </div>
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-analyze.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Run Profitable Ads</h4>
            <p>We combine store profit data with ad-level data from all your marketing channels. Now you can see which campaigns are profitable after all costs (including shipping, refunds and COGS).
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>