<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col col-12 text-center wow fadeInUp cta__copy">
        Join over 2000+ stores already using OrderMetrics!
        <br/>
        Sign up for a 14-day free trial today!
      </div>
    </div>
    <div class="row">
      <div class="col col-12 text-center wow fadeInUp cta__action" data-wow-delay=".25s">
        <a href="#" class="btn btn-primary">Sign up and get started</a>
      </div>
    </div>
  </div>
</div>