<div class="container footer">
  <div class="row">
    <div class="col col-12 col-md-12 col-lg-5 footer__section">
    <h5>About us</h5>
    OrderMetrics is developed and maintained by e-commerce professionals who were dissatisfied with exisiting analytics tools to accurately track profitability and performance marketing metrics. We started in 2016 and have grown into a small, independent software company with big ambitions. 
    <p>
      <ul class="footer__links">
        <li>
          <a href="/jobs.html">Join our team!</a>
        </li>
      </ul>
    </div>
    <div class="col col-12 col-md-6 col-lg-2 footer__section">
      <h5>Product</h5>
      <ul class="footer__links">
        <li>
          <a href="/pricing.html">Pricing</a>
        </li>
        <li>
          <a href="/integrations.html">Integrations</a>
        </li>
        <li>
          <a href="/attribution.html">Attribution</a>
        </li>
      </ul>
    </div>
    <div class="col col-12 col-md-6 col-lg-2 footer__section">
      <h5>Learn</h5>
      <ul class="footer__links">
        <li>
          <a href="/profit-guide">Profit Guide</a>
        </li>
        <li>
          <a href="/video-guides.html">Video Guide</a>
        </li>
        <li>
          <a href="/faq.html">FAQ</a>
        </li>
        <li>
          <a href="http://facebook.com/groups/ordermetrics/" target="_blank">Community</a>
        </li>
      </ul>
    </div>
    <div class="col col-12 col-md-6 col-lg-3 footer__section">
      <h5>Contact</h5>

      <div class="h-card footer__contact">
        <p><strong class="p-name">OrderMetrics Inc.</strong></p>
        <p class="p-locality">San Francisco, CA</p>
        <p><a href="tel:+18587075639" class="p-tel">858.707.5639</a></p>
        <p><a href="mailto:hello@ordermetrics.io" class="u-email">hello@ordermetrics.io</a></p>
      </div>
    </div>
  </div>
</div>