<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a href="/" class="navbar-brand">
      <img src="/images/logo-full.svg">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100">
        <li class="nav-item active">
          <%= link_to 'Home', '/', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Pricing', '/pricing.html', class: 'nav-link' %>
        </li>
       <li class="nav-item">
          <%= link_to 'Profit Guide', '/profit-guide', class: 'nav-link' %>
        </li>
        
          <li class="nav-item ml-lg-auto">
          <form action='https://app.ordermetrics.io/login'>
          <button class="btn btn-outline" type="submit">Login</button>
        </form>
</li>
<li class="nav-item ml-1">
          <form action='https://app.ordermetrics.io/begin'>
          <button class="btn btn-primary" type="submit">Sign up</button>
        </form>
        
      </li>
      </ul>
    </div>
  </div>
</nav>