---
title: How To Reduce Shopify Transaction Fees - the OrderMetrics Guide to Profit & Growth
---


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta name="description" content="A complete guide to reducing Shopify fees including transaction fees and negotiation for Shopify Plus stores.">
    <meta name="author" content="Order Metrics">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head> 

<body class="body-green">
    <div class="page-wrapper">
        <!-- ******Header****** -->
    <header id="header" class="header">
            <div class="container">
                  <div class="branding">

<a href="https://www.ordermetrics.io" target="_blank" style="color:inherit;text-decoration: none;">
<h2 class="logo"><span><img width="50px;" src="/profit-guide/assets/images/logo-dark-800.png"></span> Order Metrics</h2> 
</a> 

</div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/profit-guide/">Profit Guide</a></li>
                    <li class="breadcrumb-item"><a href="/profit-guide/reduce-payment-processing-fees/">Reduce Payment Processing Fees</a></li>
                    <li class="breadcrumb-item active">How to Reduce Shopify Fees</li>
                </ol>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title">Guide To Understanding & Reducing Shopify Fees</h1>
                    <div class="meta"><i class="far fa-clock"></i> Last updated: November 20th, 2018. </div>
                </div><!--//doc-header-->
                <div class="doc-body row">
                    <div class="doc-content col-md-7 col-12 order-1">
                        <div class="content-inner">
                            <section id="intro" class="doc-section">
                                <h2 class="section-title">Intro</h2>
                                <div class="section-block">
                                    
                                    <p>Shopify makes the most of their money by charging a percentage of sales that go through their system, either via their Shopify Payments (powered by Stripe), or by levying a surcharge on top of Paypal or 70 other supported alternative payment gateways. 
                                    </p>
                                    <p>Shopify’s Merchant Solutions revenue was <a href="https://www.shopify.com/press/releases/shopify-announces-third-quarter-2018-financial-results" target="_blank">$149 million for Q3</a> of 2018.
                                    </p>
                                    <img class="img-fluid" src="/profit-guide/assets/images/shopify-financials.png" alt="Shopify Financial Results">
                                    <p>
                                    <p>An important thing to know before you get too deep into this gude is you can't negotiate with Shopify for lower credit card processing fees until you are on the Shopify Plus plans. Even then you will need significant sales volume. 
                                    </p>
                                    <p>If you are on one of the lower plans - there's good news! There are still ways to reduce your transaction costs, you just need to do the math to optimize your plan choices, understand the alternatives, and avoid some common pitfalls. 
                                    </p>
                                   
                                        <h3>Why Should You Trust Us?</h3>
                                                <p>This was written by <a href="https://www.linkedin.com/in/georgesylvain/" target="_blank">George Sylvain</a>, co-founder of <a href="https://www.socialprintstudio.com" target="_blank">Social Print Studio</a>, a successful e-commerce store & app with over half a million customers. </p>
                                                <p>
                                                Additional help was provided by <a href="https://www.linkedin.com/in/henrykronick/" target="_blank">Hank Kronick</a>, founder of <a href="https://www.ordermetrics.com" target="_blank">Order Metrics</a> and data analysis specialist. </p>
                                                <p>We've got a combined 16 years of e-commerce experience and have personally used every technique described in this guide and seen the results in practice. </p>
                                
                                </div>
                            </section><!--//doc-section-->

                              <section class="doc-section">
                                <h2 class="section-title" id="understand-shopify">Understanding Shopify's Fees</h2>
                                <div class="section-block">
                                    <p>Before you negotiate with Shopify, take some time to understand the company’s payment processing structure. </p>
                                                                        <img class="img-fluid" src="/profit-guide/assets/images/shopify-homepage.png">

                                    <p>The fees you’ll pay will vary based on your Shopify membership. </p>
                                    <p> For example, in the USA,  with the Basic Shopify package ($29/month), you’ll pay a 2.9% fee per transaction + $0.30</p>

                                    <table class="table table-dark">
                                        <thead>
                                            <tr>
                                                <th scope="col">Plan</th>
                                                <th scope="col">Subscription Cost</th>
                                                <th scope="col">Processing Fee</th>
                                                <th scope="col">External Gateway Fee</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Shopify Basic</th>
                                                    <td>$29/month</td>
                                                    <td>2.9% + $0.30</td>
                                                    <td>2.0%</td>

                                            </tr>
                                            <tr>

                                                <th scope="row">Shopify Mid Tier</th>
                                                   <td>$79/month</td>
                                                    <td>2.6% + $0.30</td>
                                                    <td>1.0%</td>

                                            </tr>
                                            <tr>                                             
                                                <th scope="row">Shopify Advanced</th>
                                                   <td>$299/month</td>
                                                    <td>2.4% + $0.30</td>
                                                    <td>0.5%</td>
                                            </tr>

                                        
                                        </tbody>
                                    </table>

                                <p>Ignoring the External Gateway fee for now, you can see the cheapest monthly plan is Basic Shopify and that's probably where you should start even though the fee difference is only $50 per month. </p>
                                <p>In fact, you will need to be <strong>selling $16,667 per month</strong> for the Mid-Tier Plan to be better value than the Basic Shopify plan. That's the exact level of monthly sales you need for the value of the 0.3% lower transaction processing rate to be greater than the $50 extra monthly fee for Shopify.</p>
                                <p>So if you're just starting out, probably don't upgrade to Shopify Basic until you have $16,667 sales per month.
                                </p>
                                <p>
                                Using the same math, it only makes sense to make the leap to Shopify Advance when your monthly sales exceed $110,000.</p> 
                                <p>At this level of sales you are paying 2.6% + $0.30 - for comparison, Stripe would likely offer you 2.5% + $0.30. (But if you used your own Stripe checkout you'd pay Shopify the additional 1% on top.).  </p>
                                <p>Still, you won't be able to negotiate these rates with Shopify until you are on Shopify Plus. 
                                </p>
                                 <h3 class="block-title" id="shopify-paypal">Understand Shopify Payments with Paypal</h3>

                                <p>
                                    If you accept Paypal on your Shopify store - (or really any other 3rd party payment provider) you will be charged the additional external payment gateway fee instead of the Shopify Payments fee. 
                                </p>
                                <p>You only get charged this for orders where the customer checks out with Paypal - they won't double charge you directly.  But this will be extra on top of whatever you are paying Paypal, which amounts to the same financial impact.   </p>
                                    <p>Paypal's processing fees start at 2.9% + 0.30c. </p>
                                    <p> So if you are on the entry level Paypal pricing and the Basic Shopify plan - <b>you will be paying 2.0% (to Shopify) PLUS 2.9% + 0.30c (to Paypal), for every transaction through Paypal</b>. </p>
                                    <p>Clearly this doesn't make a lot of sense, the only reason you should do this is if Shopify Payments doesn't work for you for edge-case reasons. (Shopify Payments won't allow certain classes of goods like some "cosmoceuticals" and e-cigs - they deem them high risk - and we see those stores selling using Paypal + Shopify).  </p>
                                    

                                <p>
                                    Once you are on the Shopify or Shopify Advanced plans, you will be only paying 1% or 0.5% additionally for customers checking out using Paypal.  At this rate it could make more sense to offer Paypal in addition to Shopify Payments - you need to balance the benefit of giving customers the choice of using Paypal with the additional cost. 
                                </p>
                             


                                 <h3 class="block-title" id="shopify-plus">Shopify Plus - Negotiation Opportunities Available</h3>

                                <p>Shopify Plus is the first account level where you have Shopify's ear. These plans start at $2000 a month but the details are negotiable, especially if you are a big seller.  </p>
                                <p>Once you are in Shopify Plus - your rate starts at 2.15% and $0.30 per transaction for payments. </p>
                                <p>You can negotiate this down based on your volume. </p>
                                <p>In order to get the best deal, remember these things when you go to negotiate.
                                    <ul><li><i>The bigger the plan, the more negotiating power you have:</i>  If you’re already putting more money in their pockets, they’ll be more apt to work with you. Moving serious volume and paying Shopify over $3k per month in fees? You should be able to get a discount.
                                    </li>
                                    <li><i>Maintain a good history with Shopify:</i> Deliver great service to your customers and avoid delinquent payments. Prove that you’re trustworthy with a sterling record and they will want to help you out. </li>
                                </ul>
                            </p>
                                <p>We have heard stories of stores getting just 1.6% + $0.30 but the most common discount I have heard for mid-sized businesses is 2% + $0.30. There's often an additional charge for Amex cards. 
                                </p>
                                <p>It might help to shop around the other providers directly. If Shopify is only charging you a 0.15% third party payment gateway fee, and you can get 1.6% + $0.30 from Stripe (see <a href="/profit-guide/reduce-payment-processing-fees/how-to-negotiate-payment-processing-fees-with-stripe/" target="_blank">our article on Negotiating with Stripe</a>) - then you are only looking at 1.75% + $0.30 even with Shopify's fee.  You should be able to get them to match that without the trouble of setting up a Stripe plan yourself. </p>
                                <p>Again, this is only a helpful tactic if you’re moving big units and pulling in significant revenue consistently.  If business is slow or it fluctuates often, you won’t have negotiation room. </p>

                            

                                <h3 class="block-title" id="summary">Summary</h3>
                               <p>If you are not a large seller, the best way to reduce your Shopify fees is by being on the correct plan for your volume & accepting Shopify Payments instead of Paypal. There's not much you can do beyond that. </p>
                               <p>If you are a Shopify Plus customer - remember to keep asking for reductions in your payment processing rates. It's unlikely they will give them to you without you being persistent and knowing what is available. </p>
                               <p>We hope this guide has shown you that it's possible to save 0.15% - 0.5% on Shopify Plus transaction fees, other stores are getting these deals. You just need to make your case. 

                             </p>

                                      <h3>About This Guide</h3>
                                        <p>The Order Metrics Profit & Growth guide is designed to help you unlock the most profit for your e-commerce business. 
                                        </p>
                                        <p>This is not intended to be regular old content marketing like you find on other company blogs. </p>
                                        <p>These are <b>serious tested techniques could help you grow your business</b> and put some cash back in your pocket so you can invest in things that matter to you. </p>
                                        <p>Check out the other <a href="../../">articles we have written back at our profit guide index</a>.</p>
                         </div>
                               
                            </section><!--//doc-section-->


        
                            
                            </section><!--//doc-section-->
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">
	                        
	                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
	                                <a class="nav-link scrollto" href="#intro">Intro</a>           
	                                <a class="nav-link scrollto" href="#understand-shopify">Understand Shopify Plans & Fees</a>
                                    <a class="nav-link scrollto" href="#shopify-paypal">Shopify + Paypal Fee Structure</a>
	                                <a class="nav-link scrollto" href="#shopify-plus">Shopify Plus Negotiation</a>
	                                <a class="nav-link scrollto" href="#summary">Summary</a>
	                            </nav><!--//doc-menu-->
	                        
                        </div>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->              
            </div><!--//container-->
        </div><!--//doc-wrapper-->

<%= partial 'components/profit-guide/footer' %>

    
</body>
</html> 

