<div class="container-fluid integrations">
  <div class="row">
    <div class="col col-12 col-lg-4 why__step wow fadeInUp">
      <div class="why__step__content">
        <h4>Storefront Integrations</h4>
        <p>   
Gain advanced profit analytics by syncing your revenue, product data, refund data and more from these ecommerce platforms and marketplaces </p>
<a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col col-12 col-lg-8">
<div class="row">
     <div class="col-lg-4 col-md-6 col-xs-6">
      <div class="integrationspage__logos" style="transform: scale(0.5)">
        <img src="/images/integrations/shopify.png" alt="Amazon">
      </div>
    </div>
     <div class="col-lg-4 col-md-6 col-xs-6">

      <div class="integrationspage__logos" style="transform: scale(0.5)">
        <img src="/images/integrations/amazon.png" alt="Amazon">
      </div>
    </div>
  
       <div class="col-lg-4 col-md-6 col-xs-6">

      <div class="integrationspage__logos" style="top: 95%;transform: scale(0.5)">
        <img src="/images/integrations/woo.png" alt="Amazon">
      </div>
    </div>

  <div class="col-lg-4 col-md-6 col-xs-6">
      <div class="integrationspage__logos" style="transform: scale(0.5)">
        <img src="/images/integrations/aliexpress.png" alt="Amazon">
      </div>
    </div>
  </div>
</div>

 <div class="col col-12 col-lg-4 why__step wow fadeInUp">
      <div class="why__step__content">
        <h4>Advertising  Integrations</h4>
        <p>   
Automatically pull in your advertising spend & campaign data from these Ad networks </p>
      </div>
    </div>
    <div class="col col-12 col-lg-8">
<div class="row">
     <div class="col-lg-4 col-md-6 col-xs-6">
      <div class="integrationspage__logos" style="transform: scale(0.5)">
        <img src="/images/integrations/facebook.png" alt="facebook">
      </div>
    </div>
     <div class="col-lg-4 col-md-6 col-xs-6">

      <div class="integrationspage__logos" style="transform: scale(0.5)">
        <img src="/images/integrations/adwords.png" alt="Amazon">
      </div>
    </div>
  
       <div class="col-lg-4 col-md-6 col-xs-6">

      <div class="integrationspage__logos" style="top: 95%;transform: scale(0.5)">
        <img src="/images/integrations/facebook.png" alt="Amazon">
      </div>
    </div>
</div>


  <div class="col-lg-4 col-md-6 col-xs-6">
      <div class="integrationspage__logos" style="transform: scale(0.5)">
        <img src="/images/integrations/aliexpress.png" alt="Amazon">
      </div>
    </div>
    </div>

     </div>
  
  </div>
