<div class="container features">
    <div class="row">
      <div class="col sm-4 wow fadeInUp">
        <div class="why__step__content">
          <h4>Storefront Integrations</h4>
          <p>   
  Gain advanced profit analytics by syncing your revenue, product data, refund data and more from these ecommerce platforms and marketplaces</p>
  <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
        </div>
      </div>

  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-4 py-3">
      <div class="card h-100">
        <div class="card-body">
          <a href="/integrations/storefronts/amazon-seller/"> <img class="card-img-top img-fluid" src="/images/integrations/amazon.png" alt="Amazon"> </a>
            <p class="card-text"></p>      
        </div>
      </div>
    </div>

   <div class="col-sm-4 py-3">
      <div class="card mb-1 h-100" >
        <div class="card-body">
        <a href="/integrations/storefronts/shopify/">  <img class="card-img-top img-fluid" src="/images/integrations/shopify.png" alt="Shopify"> </a>
            <p class="card-text"></p>      
        </div>
      </div>
    </div>

   <div class="col-sm-4 py-3">
      <div class="card mb-1 h-100">
        <div class="card-body">
        <a href="/integrations/storefronts/woocommerce/">  <img class="card-img-top img-fluid" src="/images/integrations/woo.png" alt="WooCommerce"> </a>
            <p class="card-text"></p>      
        </div>
      </div>
    </div>

   <div class="col-sm-4 py-3">
      <div class="card mb-1 h-100">
        <div class="card-body">
        <a href="/integrations/storefronts/ebay/">  <img class="card-img-top img-fluid" src="/images/integrations/ebay.png" alt="EBAY ">  </a>
            <p class="card-text"></p>      
        </div>
      </div>
    </div>
      <div class="col-sm-4 py-3">
      <div class="card mb-1 h-100">
        <div class="card-body">
        <a href="/integrations/storefronts/bigcommerce/">  <img class="card-img-top img-fluid" src="/images/integrations/bigcommerce.png" alt="BigCommerce ">  </a>
            <p class="card-text"></p>      
        </div>
      </div>
    </div>


  </div>
  </div>
  </div>
</div>

<div class="container" style="padding-top: 100px">

<div class="row">

 <div class="col sm-4 wow fadeInUp">
      <div class="why__step__content">
        <h4>Advertising  Integrations</h4>
Automatically pull in your advertising spend & campaign data from these Ad networks. We also parse UTM tags to show data from other campaigns even if we don't have an integration yet. </p>
<!-- <a href="#" class="btn btn-primary">Learn More</a> -->

      </div>
    </div>
<div class="col-sm-8">
  <div class="row">
    <div class="col-sm-4 py-3">
    <div class="card h-100 mb-1">
      <div class="card-body">
       <a href="/integrations/ad-platforms/amazon-ppc/"> <img class="card-img-top img-fluid" src="/images/integrations/amazonppc.png" alt="Amazon PPC"> </a>
          <p class="card-text"></p>      
      </div>
    </div>
  </div>
  <div class="col-sm-4 py-3">
    <div class="card h-100 mb-1">
      <div class="card-body">
       <a href="/integrations/ad-platforms/facebook-ads/"> <img class="card-img-top img-fluid" src="/images/integrations/facebook.png" alt="Facebook PPC">  </a>
          <p class="card-text"></p>     
      </div>
    </div>
  </div>
   <div class="col-sm-4 py-3">
    <div class="card h-100 mb-1">
      <div class="card-body">
       <a href="/integrations/ad-platforms/google-adwords/"> <img class="card-img-top img-fluid" src="/images/integrations/adwords.png" alt="Google Adwords">  </a>
          <p class="card-text"></p>     
      </div>
    </div>
  </div>
   <div class="col-sm-4 py-3">
    <div class="card h-100 mb-1">
      <div class="card-body">
       <a href="/integrations/ad-platforms/bingads/"> <img class="card-img-top img-fluid" src="/images/integrations/bingAds.png" alt="bing PPC">   </a>    
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 py-3">
    <div class="card h-100 mb-1">
      <div class="card-body">
        <a href="/integrations/ad-platforms/outbrain/"><img class="card-img-top img-fluid" src="/images/integrations/outbrain.png" alt="outbrain PPC"> </a>    
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container" style="padding-top: 100px">

<div class="row">

 <div class="col sm-4 wow fadeInUp">
      <div class="why__step__content">
        <h4>Shipping  Integrations</h4>
Automatically match shipping costs, fullfiment fees, warehousing, & FBA fees with each order from these shipping services. You can also upload extra or missing shipping data in spreadsheets or via our API.</p>
<!-- <a href="#" class="btn btn-primary">Learn More</a> -->

      </div>
    </div>

<div class="col-sm-8">
  <div class="row">
    <div class="col-sm-4 py-3">
    <div class="card h-100 ">
      <div class="card-body">
       <a href="/integrations/shipping/shipstation/"> <img class="card-img-top img-fluid" src="/images/integrations/shipstation.png" alt="Shipstation"></a>
         <p class="card-text"></p>      
      </div>
    </div>
  </div>
  <div class="col-sm-4 py-3">
    <div class="card h-100">
      <div class="card-body">
        <a href="/integrations/shipping/shipping-easy/"><img class="card-img-top img-fluid" src="/images/integrations/shippingeasy.png" alt="Shipping Easy"></a>
          <p class="card-text"></p>     
      </div>
    </div>
  </div>
   <div class="col-sm-4 py-3">
    <div class="card h-100">
      <div class="card-body">
        <a href="/integrations/shipping/fba/"><img class="card-img-top img-fluid" src="/images/integrations/fba-logo.png" alt="Fulfilled by Amazon"></a>
          <p class="card-text"></p>     
      </div>
    </div>
  </div>


   <div class="col-sm-4 py-3">
    <div class="card h-100 mb-1">
      <div class="card-body">
        <a href="/integrations/shipping/shiphero/"><img class="card-img-top img-fluid" src="/images/integrations/shiphero.png" alt="Shiphero">      </a>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 py-3">
    <div class="card h-100 mb-1">
      <div class="card-body">
      <a href="/integrations/shipping/shipfusion/">  <img class="img-fluid" src="/images/integrations/shipFusion.png" alt="shipfusion"> </a>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 py-3">
    <div class="card h-100 mb-1">
      <div class="card-body">
       <a href="/integrations/shipping/shippo/"> <img class="card-img-top img-fluid" src="/images/integrations/shippo.png" alt="Shippo">       </a>
        <p class="card-text"></p>
      </div>
    </div>
  </div>

<div class="col-sm-4 py-3">
    <div class="card h-100 mb-1 ">
      <div class="card-body">
        <a href="/integrations/shipping/shipwire/"><img class="card-img-top img-fluid" src="/images/integrations/shipwire.png" alt="shipwire">  </a>     
        <p class="card-text"></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 py-3">
    <div class="card h-100 mb-1">
      <div class="card-body">
       <a href="/integrations/shipping/aliexpress/"> <img class="card-img-top img-fluid" src="/images/integrations/aliexpress.png" alt="aliexpress"> </a>      
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container" style="padding-top: 100px">

<div class="row">

 <div class="col sm-4 wow fadeInUp">
      <div class="why__step__content">
        <h4>Analytics  Integrations</h4>
We pull in various website traffic metrics and combine them with your profit data & our own tagging for our attribution analysis. </p>
<!-- <a href="#" class="btn btn-primary">Learn More</a> -->

      </div>
    </div>
<div class="col-sm-8">
  <div class="row">
    <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <a href="/integrations/google-analytics/"><img class="card-img-top" src="/images/integrations/googleanalytics.png" alt="Google Analytics"></a> 
          <p class="card-text text-center"><i class="text-muted ">Works best if you have <a href="https://support.google.com/analytics/answer/6032539?hl=en" target="_blank">Enhanced E-commerce</a> tracking enabled</i></p>      
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<%= partial ('components/cta') %>

<!-- <div class="row">
     <div class="col-lg-4 col-md-6 col-xs-6">
      <div class="integrationspage__logos" style="transform: scale(0.5)">
        <img src="/images/integrations/facebook.png" alt="facebook">
      </div>
    </div>
     <div class="col-lg-4 col-md-6 col-xs-6">

      <div class="integrationspage__logos" style="transform: scale(0.5)">
        <img src="/images/integrations/adwords.png" alt="Amazon">
      </div>
    </div>
  
       <div class="col-lg-4 col-md-6 col-xs-6">

      <div class="integrationspage__logos" style="transform: scale(0.5)">
        <img src="/images/integrations/amazonppc.png" alt="Amazon">
      </div>
    </div>
</div>
  <div class="col-lg-4 col-md-6 col-xs-6">
      <div class="integrationspage__logos" style="transform: scale(0.5)">
        <img src="/images/integrations/outbrain.png" alt="Amazon">
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-6">
      <div class="integrationspage__logos" style="transform: scale(0.5)">
        <img src="/images/integrations/bingAds.png" alt="Amazon">
      </div> -->
    </div>
    </div>

     </div>
  
  </div>
</div>
