<div class="container-fluid">
		<div class="col text-center" style="padding-top: 50px">

	<h1>Integrations</h1>
	<p> When you combine data from multiple sources inside OrderMetrics, magical things happen. </br>
	That's why we automatically sync data in real time from over 20 sources (and growing!) into one dashboard.
	 </p>
</div>
</div>