<div class="container why">
  <div class="row why__header">
    <div class="col col-12 text-center wow fadeInUp">
      <h4>
Open Positions</h4>
    </div>
  </div>
  <div class="row why__content">
    <div class="col col-12 col-lg-6 why__step wow fadeInUp">
     
      <div class="why__step__content">
        <h4>Senior Software Engineer</h4>
        <p>
         Your work will directly help thousands of e-commerce companies optimize their profit margins by giving them action-based recommendations. Functional programming experience required. We use Scala + Akka + Play, as well as React.JS
        </p>
          <p>
            Get a significant equity stake & get on board with a rapidly growing & profitable SaaS company.
        </p>
      </div>
    </div>
    <div class="col col-12 col-lg-6 why__step wow fadeInUp" data-wow-delay="0.25s">
     
      <div class="why__step__content">
        <h4>Technical Support Analyst</h4>
        <p>
          This is an entry-level position with OrderMetrics. You will use your technical and problem solving skills to provide support to 1200 of our customers, who are e-commerce merchants.
        </p>
        <p>There is also opportunity to grow into a more flexible role. We all wear a lot of hats!
        </p>
      </div>
    </div>
  
  </div>
</div>