<div class="jumbotron hero hero--pricing">
  <div class="container">
    <div class="row">
      <div class="col col-12 text-center wow fadeInUp">
        <h1 class="display-4 text-center text-lg-center wow fadeInLeft">Join OrderMetrics</h1>
        <h3 class="text-muted text-center text-lg-left  wow fadeInLeft" data-wow-delay=".25s">I don't know what will go here just yet, but it will be quite inspiring and everyone will want to work for us.
        </h3>
      </div>

      </div>
    </div>
  </div>
</div>