
</div>
<div class="container features">
  <div class="row">
    <div class="col col-12 text-center features__header">
      <h2>Features included in the Pro plan</h2>
    </div>
  </div>

  <div class="row text-center" style="padding-top:30px;">
    <div class="col-md-4">

      <i class="fas fa-infinity fa-3x" style="color: #51c0b8"></i>
      <h3 style="padding-top: 7px">Unlimited Everything</h3>
      <p class="text-muted">Unlimited Storefronts, Unlimited Ad Campaigns, Unlimited Order History, Unlimited  Integrations</p>
      </p>

    </div>
      <div class="col-md-4">

      <i class="fas fa-life-ring fa-3x" style="color: #51c0b8"></i>
      <h3 style="padding-top: 7px">Priority Support</h3>
      <p class="text-muted">Get help quickly on e-mail, live chat or phone from actual experts</p>
      </p>

    </div>
     <div class="col-md-4">

      <i class="fas fa-chart-line fa-3x" style="color: #51c0b8"></i>
      <h3 style="padding-top: 7px">Attribution Module</h3>
      <p class="text-muted">New! Optimize your ad spend and marketing campaigns with our attribution modeling</p>
      </p>

    </div>
  </div>

  <div class="row text-center" style="padding-top:30px;">

 <div class="col-md-4">

      <i class="fas fa-shipping-fast fa-3x" style="color: #51c0b8"></i>
      <h3 style="padding-top: 7px">Automatic Shipping</h3>
      <p class="text-muted">Automatically match shipping costs with orders using our many shipping integrations!</p>
      </p>

    </div>
      <div class="col-md-4">

      <i class="fas fa-chart-bar fa-3x" style="color: #51c0b8"></i>
      <h3 style="padding-top: 7px">Analytics Insights</h3>
      <p class="text-muted">Deep insights into product performance, customers, marketing performance, vendor performance, shipping performance and more</p>
      </p>

    </div>
      <div class="col-md-4">

      <i class="fas fa-user fa-3x" style="color: #51c0b8"></i>
      <h3 style="padding-top: 7px">Custom Data Entry</h3>
      <p class="text-muted">Add any of your fixed and recurring custom costs such as influencer marketing or software spend</p>
      </p>

    </div>
  
    </div>

  <div class="row text-center" style="padding-top:30px;">

 <div class="col-md-4">

      <i class="fas fa-toolbox fa-3x" style="color: #51c0b8"></i>
      <h3 style="padding-top: 7px">Intelligent COGS Solutions </h3>
      <p class="text-muted">Automatically pull in COGS when available and track historical COGS </p>
      </p>

    </div>
      <div class="col-md-4">

      <i class="fas fa-upload fa-3x" style="color: #51c0b8"></i>
      <h3 style="padding-top: 7px">Shipping Rules</h3>
      <p class="text-muted">Bulk import shipping costs or apply advanced shipping cost rules per product or per country</p>
      </p>

    </div>
     <div class="col-md-4">

      <i class="fas fa-plug fa-3x" style="color: #51c0b8"></i>
      <h3 style="padding-top: 7px">API</h3>
      <p class="text-muted">Use our API for uploading products and shipping costs programatically</p>
      </p>

    </div>



     <!--  <ul class="features__list">
        <li class="features__list__item">
          Optimize Ad spend & Marketing campaigns via our Attribution Module
        </li>
        <li class="features__list__item">
          Automatically pull in Ad Spend through advertising integrations
        </li>
        <li class="features__list__item">
          Automatically calculate shipping costs with the shipping integrations
        </li>
        <li class="features__list__item">
          Add historical COGS and track product price changes over time
        </li>
        <li class="features__list__item">
          Bulk import shipping costs or apply advanced shipping cost rules per product / per country
        </li>
        <li class="features__list__item">
          Add fixed and recurring custom costs such as influencer marketing or software spend
        </li>
        <li class="features__list__item">
          Priority email support within 24-48 hours
        </li>
        <li class="features__list__item">
          Monitor conversion rates, unique visitors, and other traffic insights
        </li>
        <li class="features__list__item">
          Automatically pull in COGS and shipping costs from AliExpress
        </li>
        <li class="features__list__item">
          API for uploading products and shipping costs
        </li>
        <li class="features__list__item">
          Unlimited storefront connections and order history
        </li>
      </ul> -->
    </div>
  </div>
</div>
</br>

<hr>

<div class="container" style="padding-top: 30px">
  <div class="row">
      <div class="col-md-12">
        <h3 align="center"><b>Pricing details</b></h3>
             <ul style="padding-top: 30px">
                <li class="list-group-item">*If you do not need any of the tiered pricing features, you can continue with our <a href="#freeModal" data-toggle="modal" data-target="#freeModal">$29/mo  basic </a> dashboard after the 14 day free trial is completed.</li>
                <li class="list-group-item">*Each tier is based on your average monthly revenue from the last 3 months combined from <u>all connected storefronts</u>. Monthly revenue calculations exclude cancelled &amp; refunded orders!</li>
                <li class="list-group-item">*Worried about going over one month? No problem. We will only update your pricing if your trailing 3 month average revenue increases/decreases over a threshold</li>
                <li class="list-group-item">*If you have less than 3 months of data, we will calculate revenue based on the most recent month</li>
              </ul>
        </div>
  </div>
</div>