<div class="container features">
  <div class="row">
    <div class="col col-12 text-center wow fadeInUp features__header">
      <h4>Features included in every Pro plan</h4>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <ul class="features__list">
        <li class="features__list__item">
          Optimize Ad spend & Marketing campaigns via our Attribution Module
        </li>
        <li class="features__list__item">
          Automatically pull in Ad Spend through advertising integrations
        </li>
        <li class="features__list__item">
          Automatically calculate shipping costs with the shipping integrations
        </li>
        <li class="features__list__item">
          Add historical COGS and track product price changes over time
        </li>
        <li class="features__list__item">
          Bulk import shipping costs or apply advanced shipping cost rules per product / per country
        </li>
        <li class="features__list__item">
          Add fixed and recurring custom costs such as influencer marketing or software spend
        </li>
        <li class="features__list__item">
          Priority email support within 24-48 hours
        </li>
        <li class="features__list__item">
          Monitor conversion rates, unique visitors, and other traffic insights
        </li>
        <li class="features__list__item">
          Automatically pull in COGS and shipping costs from AliExpress
        </li>
        <li class="features__list__item">
          API for uploading products and shipping costs
        </li>
        <li class="features__list__item">
          Unlimited storefront connections and order history
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h4 align="center"><b>Pricing details</b></h4>
             <ul>
                <li class="list-group-item">*If you do not need any of the tiered pricing features, you can continue with our $29 /mo <a href="#freeModal" data-toggle="modal" data-target="#freeModal"> basic cogs tracking</a> dashboard after the 14 day free trial is completed.</li>
                <li class="list-group-item">*Each tier is based on your average monthly revenue from the last 3 months combined from <u>all connected storefronts</u>. Monthly revenue calculations exclude cancelled &amp; refunded orders!</li>
                <li class="list-group-item">*Worried about going over one month? No problem. We will only update your pricing if your trailing 3 month average revenue increases/decreases over a threshold</li>
                <li class="list-group-item">*If you have less than 3 months of data, we will calculate revenue based on the most recent month</li>
              </ul>
        </div>
  </div>
</div>