<div class="container features">
  <div class="row">
    <div class="col col-12 text-center wow fadeInUp features__header">
      <h4>Features included in every Pro plan</h4>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <ul class="features__list wow fadeInUp" data-wow-delay=".5s">
        <li class="features__list__item">
          Optimize Ad spend & Marketing campaigns via our Attribution Module
        </li>
        <li class="features__list__item">
          Automatically pull in Ad Spend through advertising integrations
        </li>
        <li class="features__list__item">
          Automatically calculate shipping costs with the shipping integrations
        </li>
        <li class="features__list__item">
          Add historical COGS and track product price changes over time
        </li>
        <li class="features__list__item">
          Bulk import shipping costs or apply advanced shipping cost rules per product / per country
        </li>
        <li class="features__list__item">
          Add fixed and recurring custom costs such as influencer marketing or software spend
        </li>
        <li class="features__list__item">
          Priority email support within 24-48 hours
        </li>
        <li class="features__list__item">
          Monitor conversion rates, unique visitors, and other traffic insights
        </li>
        <li class="features__list__item">
          Automatically pull in COGS and shipping costs from AliExpress
        </li>
        <li class="features__list__item">
          API for uploading products and shipping costs
        </li>
        <li class="features__list__item">
          Unlimited storefront connections and order history
        </li>
      </ul>
    </div>
  </div>
</div>