<div class="jumbotron hero hero--pricing">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 d-lg-flex justify-content-lg-center flex-column hero__text">
        <h1 class="display-4 text-center text-lg-left wow fadeInLeft">Flexible Pricing Based On Your Revenue</h1>
        <h3 class="text-muted text-center text-lg-left wow fadeInLeft" data-wow-delay=".15s">No long-term contracts, 14-day free trial. Pricing auto-adjusts
based on your trailing 3 months of revenue.</h2>
      </div>
      <div class="col-12 col-lg-6 mt-3 mt-lg-0 wow fadeInRight hero__pricing" data-wow-delay=".05s">
        <%= partial 'components/pricing/slider' %>
      </div>
    </div>
  </div>
</div>