<div class="jumbotron hero hero--pricing">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 d-lg-flex justify-content-lg-center flex-column hero__text">
        <h1 class="display-4 text-center text-lg-left wow fadeInLeft">Flexible Pricing Based On Your Revenue</h1>
        <h3 class="text-muted text-center text-lg-left wow fadeInLeft" data-wow-delay=".25s">No long-term contracts, 14-day free trial. Pricing auto-adjusts
based on your trailing 3 months of revenue.</h2>
      </div>
      <div class="col-12 col-lg-6 mt-3 mt-lg-0 wow fadeInRight hero__pricing" data-wow-delay=".5s">
        <div class="box pricing__slider">
          <div class="pricing__header">
            <h4 class="text-muted">What's your average monthly revenue?</h4>
          </div>
          <div class="pricing__calculator">
            <div id="#pricingSlider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>