<div class="container quote">
  <div class="quotes" id="customerQuotes">
    <%= partial 'components/pricing/single_quote', 
        locals: { 
          content: 'We were able to improve overall margin by 5-6 percentage points.',
          author: 'Airstream Life'
        } 
      %>
    <%= partial 'components/pricing/single_quote', 
        locals: { 
          content: 'With just a few tweaks, I have saved over $5000 last month because of this app.',
          author: 'Kewlioo'
        } 
      %>
    <%= partial 'components/pricing/single_quote', 
        locals: { 
          content: 'Using this is a definite game-changer for daily insights into our profitability that we did not have before.',
          author: 'Momentary Ink'
        } 
      %>
  </div>
</div>