<div class="container quote">
  <blockquote class="wow fadeInUp quote__content">
    We were able to improve overall margin by 5-6 percentage points
  </blockquote>
  <span class="wow fadeInUp text-muted quote__author">
    — Airstream Life
  </span>
</div>