<div class="container quote">
  <div class="quotes" id="customerQuotes">
    <%= partial 'components/pricing/single_quote', 
        locals: { 
          content: 'We were able to improve overall margin by 5-6 percentage points',
          author: 'Airstream Life'
        } 
      %>
    <%= partial 'components/pricing/single_quote', 
        locals: { 
          content: 'We were able to improve overall margin by 5-6 percentage points',
          author: 'Airstream Life'
        } 
      %>
    <%= partial 'components/pricing/single_quote', 
        locals: { 
          content: 'We were able to improve overall margin by 5-6 percentage points',
          author: 'Airstream Life'
        } 
      %>
  </div>
</div>