  <div class="quote__quote">
    <blockquote class="wow fadeInUp quote__content">
      <%= content %>
    </blockquote>
    <span class="wow fadeInUp text-muted quote__author">
      — <%= author %>
    </span>
    <a href="/reviews.html"> 
    	<p style="text-indent: 60px">(read more reviews)</a></p>
  </div>