<div class="box pricing__slider">
  <div class="pricing__header">
    <h4 class="text-muted">What's your average monthly revenue?</h4>
  </div>
  <div class="pricing__calculator">
    <div id="pricingCalculator">
      <div class="js-slider" data-step="10"></div>
      <div class="js-values">
        <div class="pricing__values">
          <span class="pricing__values__label">
            Your price
          </span>
          <span class="pricing__values__price">
            <small class="pricing__values__price__currency js-price-currency">$</small>
            <strong class="pricing__values__price__number js-price">29</strong>
            <small class="pricing__values__price__period">/ month</small>
          </span>
        </div>
        <div class="alert alert-info pricing__limited js-limited-info">
          The <strong>Lite</strong> plan has <a href="#freeModal" data-toggle="modal" data-target="#freeModal">limited functionality</a>.
        </div>
        <div class="pricing__button">
          <a href="#" class="btn btn-lg btn-primary">Start your 14-day free trial</a>
        </div>
      </div>
      <div class="pricing__contact js-contact">
        <div class="pricing__contact__label">
          Please contact us for individual quote. Email hello@ordermetrics.com 
        </div>
        <div class="pricing__button">
          <a href="mailto:hello@ordermetrics.io?subject=Individual%20Quote%20Inquiry" class="btn btn-lg btn-primary">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- freePlanModal -->
<div class="modal fade" id="freeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div align="center" class="modal-header">
    <h4> Basic COGS tracking features</h4>
    </div>
      <div class="modal-body">
      <div class="row">
      <div class="col-md-12 " align="center">
       <li class="list-group-item">
      Enter costs for each product & variant
      </li>
      <li class="list-group-item">
      For smaller stores
      </li>
      <li class="list-group-item">
      No 3rd party integrations, custom spends, or attribution features
      </li>
      <li class="list-group-item">
      Limited support
      </li>
      <li class="list-group-item">
      1 storefront connection (ie Shopify, Woocommerce, Amazon, or eBay)
      </li>
      <li class="list-group-item">
      Flat rate of $29 / month
      </li>
        <li class="list-group-item">
        <a href="https://app.ordermetrics.io/begin"><button class="btn btn-primary">Get Started</button></a>
        </li>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>
