<div class="container-fluid">
    <div class="col text-center" style="padding-top: 50px">

  <h1>Reviews</h1>
    <h3 class="text-muted text-center">What people are saying about Ordermetrics...</h3>
    <h4 class="text-muted">Pulled from Shopify <a href="https://apps.shopify.com/order-metrics-profit-analytics?#reviews" target="_blank">Reviews</a></h4>

</div>
<div class="col col-12 text-center" style="padding-top: 60px">
    <div class="row" align="center">

        <div class="col-md-6">
        <h3>★★★★★</h3>
        <i>These guys are amazing and so is this app! This is the only app that includes shipping into your daily profit. Ordermetrics has helped us out tremendously and gave us new insight into our business. Hank is especially really helpful and everything we ask of him and Order Metrics, he makes sure it is completed in a promptly manner. Ordermetrics is simply just one of the best apps on Shopify.</i>
        <h5><a href="https://uscoffee.myshopify.com/" target="_blank">- U.S. Coffee</a></h5>
      </div>
     <div class="col-md-6">
      <h3>★★★★★</h3>
        <i>Holy cow! Where were you 6 years ago when I started my shop OrderMetrics? I used to sync my orders with a zap to a Google Sheet. Then pay a Virtual Assistant to manually enter shipping costs and COGS. This app does it all for me now! Plus, it adds my ad spends and other fees. Calculates all gross and net profits for me. I know they are working on more features an integration (cost of apps!) so that the numbers get even close to reality. As a solo business owner, I love this app. It really keeps me on track of what kind of deals I can do to specific customers. Love it!</i>

        <h5><a href="https://nanukhardcases.myshopify.com" target="_blank">- Nanuk Hardcases</a></h5>
      </div>
     
    </div>

    <div class="row" align="center">

  <div class="col-md-6">
      <h3>★★★★★</h3>
        <i>We've been using OrderMetrics for over two months now. The insight it's given us into our business has been a game changer.
We were seamlessly able to see how our shipping was affecting our margin AND dynamically make changes to increase our profit margin from the inside. This was a number that we assumed was fixed and there wasn't much playing around with it we could do. OrderMetrics blew us away and has given us more money to the bottom line.</i>
      <h5> <a href="https://william-painter-2.myshopify.com/" target="_blank">- William Painter</a></h5>
      </div>


      <div class="col-md-6">
      <h3>★★★★★</h3>
        <i>Great app + great customer service. Can't go wrong.
        </i>
        <h5><a href="https://pensxpress.myshopify.com/" target="_blank">- Pens Express</a></h5>
      </div>

    </div>

            <div class="row" align="center">
<div class="col-md-6">
      <h3>★★★★★</h3>
        <i>I had some issues getting the initial setup completed but their team was super helpful and available within minutes to assist.

We have a complex product with lots of variables so using this is a definite game-changer for daily insights into our profitability that we didn't have before. Incredibly accurate too.

Hope to use this for a long time to come!
        </i>
        <h5><a href="https://momentaryink.myshopify.com/" target="_blank">- Momentary Ink</a></h5>
      </div>

  <div class="col-md-6">
      <h3>★★★★★</h3>
        <i>Very good app that finally gives us a clear picture of profitability. Some parts of the user interface can be confusing, but if you take the time to learn the software and input accurate Cost Of Goods data you'll get excellent reporting.

In the case of our store, we were able to improve overall margin by 5-6 percentage points just by observing the reports and identifying products that were costing too much too ship or which were priced badly.</i>
      <h5> <a href="https://airstreamlife.myshopify.com/" target="_blank">- Airstream Life</a></h5>
      </div>

    </div>


        <div class="row" align="center">
<div class="col-md-6">
      <h3>★★★★★</h3>
        <i>Game Changing App!

Finally, an app that integrates with both AliExpress, FB & Google. it calculates transaction fees and ALL OTHER EXPENSES!!! Apps, employees, shipping, discounts etc...

They always come up with new exciting features that give you some wonderful insights that blow your mind!

Thank you so much, Hank for this amazing app and the support. With just a few tweaks I've saves over $5,000 last month because of the app.

Highly recommended!
        </i>
        <h5><a href="https://kewlioo.myshopify.com/" target="_blank">- Kewlioo</a></h5>
      </div>

  <div class="col-md-6">
      <h3>★★★★★</h3>
        <i>Too often I see ecommerce entrapreneurs boasting about 6 and 7 figure stores... which is impressive but doesnt really mean a thing unless there is a good profit left at the end of the day. PROFIT IS KING and really is the key metric for business success. Platforms like Shopify really focus on telling you total revenue but fail to tell you if you actually made anything after all your ad costs and product costs. 
Ordermetrics steps in and solves that problem without any fuss. 
I have to say .... Im super impressed with this app. We have been running very large spreadsheets to track our profit levels and even they werent totally accurate because we couldnt make changes to costs or retail prices part way through a month without messing up the sheet. Now with Ordermetrics I finally feel in control of what our true daily profit is. 
Having direct links with our Facebook and Adwords spends is brilliant. Plus being able to enter custom spends like... magazine ads. Wages.. insurance etc means our end profit figure is real! 
If you have an ecommerce store you would be down right stupid not to get this app installed asap. Worth every cent. 
Well done Hank and team... cant wait to see the next improvements you make.</i>
      <h5> <a href="https://power-planter-australia.myshopify.com/" target="_blank">- Power Planter AU</a></h5>
      </div>

    </div>

            <div class="row" align="center">

  <div class="col-md-6">
      <h3>★★★★★</h3>
        <i>This app is the missing piece to Shopify data. Finally I am able to quickly all the numbers I need, imported from Shopify ... no separate tool needed.

Cant wait to see where they go from here.
</i>
      <h5> <a href="https://fancaverugs.myshopify.com/" target="_blank">- Fancave Rugs</a></h5>
      </div>


      <div class="col-md-6">
      <h3>★★★★★</h3>
        <i>
Hank and his team need to be congratulated for a creating a very valuable application. Their customer service goes great lengths to listen to suggestions and continuously updating the app with new features. 
The app saves many hours determining profit/loss, expenses etc. I know where my business stands every minute with OrderMetrics. 
Thanks guys.

        </i>
        <h5><a href="https://somecrazydeals.myshopify.com/" target="_blank">- Some Crazy Deals</a></h5>
      </div>

    </div>

                <div class="row" align="center">

  <div class="col-md-6">
      <h3>★★★★★</h3>
        <i>I spent months paying a VA to update my tracking spreadsheet after fulfilling orders on Ali, but I knew there were things missing. After some time making sure my numbers were correct, order metrics now let's me know exactly what's going on every second of the day. Get this app!</i>
      <h5> <a href="https://bikesmiles.myshopify.com/" target="_blank">- Bikesmiles</a></h5>
      </div>


      <div class="col-md-6">
      <h3>★★★★★</h3>
        <i>
I really wish I had started using this app sooner!! It even syncs with AliExpress purchases and your Facebook Ad Manager. Would give 10 stars if I could.

        </i>
        <h5><a href="https://ashleykaric.myshopify.com/" target="_blank">- Ashey Karic</a></h5>
      </div>

    </div>

<br><br>
<%= partial 'components/cta' %>