---
title: Reducing Payment Processing Fees
---

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reducing Payment Processing Fees - The Order Metrics Guide to Profit & Growth</title>
    <!-- Meta -->

    <meta name="description" content="Guide to lowering your payment processor fees with Shopify & Stripe">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="/favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
     <meta name="twitter:card" content="summary_large_image" /> 
  <meta name="twitter:site" content="@ordermetrics" /> 
  <meta name="twitter:title" content="Lower your Shopify Fees" /> 
  <meta name="twitter:description" content="Understand Shopify's pricing and learn tactics to cut down your Shopify Plus invoice, written by industry experts"/> 
  <meta name="twitter:image" content="https://ordermetrics.com/profit-guide/assets/images/shopify-homepage.png" />

</head> 
<body class="body-green">   
    <div class="page-wrapper">
    <header id="header" class="header">
            <div class="container">
                        <div class="branding">

<a href="https://ordermetrics.com" target="_blank" style="color:inherit;text-decoration: none;">
<h2 class="logo"><span><img width="50px;" src="/profit-guide/assets/images/logo-dark-800.png"></span> OrderMetrics</h2> 
</a> 

</div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/profit-guide/">Profit Guide</a></li>
                    <li class="breadcrumb-item active">Reduce Payment Processing Fees</li>
                </ol>
            </div><!--//container-->
        </header><!--//header-->
        
        <section class="cards-section text-center">
            <div class="container">
                <h2 class="title">Reducing Payment Processing Fees</h2>
                <div class="intro">
                    <p>This section covers various proven methods to reduce credit card processing fees for Stripe & Shopify, with real world examples. </p>
                  <br>
                  <h6 class="muted"><i>Last updated: November 30th, 2018</i></h6>
                </div><!--//intro-->
                <hr>
                <div id="cards-wrapper" class="cards-wrapper row">
                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <i class="icon fa fa-hand-holding-usd"></i>
                            </div><!--//icon-holder-->
                            <h3 class="title">Negotiating with Stripe</h3>
                            <p class="intro">Learn how to negotiate your Stripe payment processing fees, don't pay 2.9% </p>
                            <a class="link" href="how-to-negotiate-payment-processing-fees-with-stripe/"><span></span></a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                     <div class="item item-pink item-2 col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <i class="fas fa-cart-arrow-down fa-2x"></i>                            </div>
                            <h3 class="title">Reduce Shopify Fees </h3>
                            <p class="intro">Learn how to reduce the total cost of your Shopify store and negotiate Shopify Payment fees </p>
                            <a class="link" href="reduce-shopify-transaction-fees/"><span></span></a>
                        </div>
                    </div> <!--//item -->
                    <!-- <div class="item item-blue col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <span aria-hidden="true" class="icon icon_datareport_alt"></span>
                            </div>
                            <h3 class="title">Interchange Plus Pricing</h3>
                            <p class="intro">Learn how to bypass online payment gateways and negotiate your own rates</p>
                            <a class="link" href="how-to-get-refunds-from-fedex-and-ups"><span></span></a>
                        </div> 
                    --> </div> 
                </div><!--//cards-->

            </div><!--//container-->
        </section><!--//cards-section-->
    </div><!--//page-wrapper-->
    
    <footer class="footer text-center">
        <div class="container">
        
            
        </div><!--//container-->
    </footer><!--//footer-->
    
     
    <!-- Main Javascript -->          
    <script type="text/javascript" src="/profit-guide/assets/plugins/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/profit-guide/assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="/profit-guide/assets/plugins/stickyfill/dist/stickyfill.min.js"></script>                                                                
    <script type="text/javascript" src="/profit-guide/assets/js/main.js"></script>
<footer id="footer" class="footer text-center">
        <div class="container">
            <small class="copyright">Copyright 2018 - Profit & Growth Guide by <a href="http://ordermetrics.com/" target="_blank">OrderMetrics</a> for e-commerce businesses</small>
            
        </div><!--//container-->
    </footer><!--//footer-->

