backend:
  name: bitbucket
  repo: gsylvain/cmstest # Path to your Bitbucket repository
  base_url: https://api.netlify.com

collections:
  - label: "Articles"
    name: "articles"
    folder: "source/articles"
    extension: .html.markdown
    format: frontmatter
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Featured Image", name: "thumbnail", widget: "image"}
      - {label: "Body", name: "body", widget: "markdown"}

  - name: "blog"
    label: "Blog"
    folder: "source/blog"
    extension: .html.md
    format: frontmatter
    create: true
    slug: '{{title}}'
    fields:
      - {label: Title, name: title, widget: string, required: true}
      - {label: Publish Date, name: date, widget: datetime}
      - {label: Description, name: description, widget: string, required: false}
      - {label: Image, name: image, widget: image, required: false}
      - {label: Tags, name: tags, widget: list, required: false}
      - {label: Body, name: body, widget: markdown}


media_folder: "source/images" # Media files will be stored in the repo under images/uploads
public_folder: "/images" # The src attribute for uploaded media will begin with /images