.btn {
  font-weight: 700;
  border-radius: 0;

  &-primary {
    color: $white;
    background-color: $blue-dark;
    background: linear-gradient(45deg, #9357fa, #272a7f);
    border-color: transparent;
    box-shadow: $box-shadow-l;
    transition: all .25s $easing;

    &:hover {
      top: -4px;
      transform: scale(1.05);
    }
  }

  &-outline {
    background: transparent;
    border: 1px solid $gray-300;
    color: $blue-dark;
    transition: all .25s $easing;

    &:hover {
      background: $gray-100;
      border-color: $gray-100;
      color: $black;
      transform: scale(1.05);
    }
  }
}