---
title: Fulfilled by Amazon  
---
<script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>

<div class="jumbotron hero hero--pricing">
  <div class="container">
      <div class="row">
        <div class="col-lg-12 d-lg-flex justify-content-lg-center">
          <h1 class="display-4 text-center text-lg">Fulfilled by Amazon + OrderMetrics</h1>
        </div>

    </div>

<p class="lead text-muted text-center"> 
Fulfilled by Amazon is an e-commerce logistics solution with multiple distribution centers that covers fulfillment and shipping. 

</p>

  <div class="row usecases">
  <div class="col-12 usecases__intbenefits">
  <h4 class="text-center text-lg">
    How OrderMetrics works with  <img src="/images/integrations/fba-logo.png" style="height:70px">
  </h4>

    <p class="lead text-muted text-center">
   See your true line-by-line shipping costs for every order in your Shopify, Amazon, eBay or WooCommerce stores. 
    </p>
  
<div class="container" style="padding-top:40px;">

  <div class="row text-center">

    <div class="col-md-4">
      <i class="fas fa-infinity fa-3x" style="color: #737a81"></i>
      <h4 style="padding-top: 7px">True Shipping Cost</h4>
      <p class="text-muted">We pull the true cost of shipping for every order, as well as tracking numbers so you can check every order’s profitability. </p>
      </p>
    </div>
      <div class="col-md-4">

      <i class="fas fa-life-ring fa-3x" style="color: #737a81"></i>
      <h4 style="padding-top: 7px">Make Sense of FBA Fees</h4>
      <p class="text-muted">We calculate and combine all the FBA fees for each order into a single field so you can really understand the costs of FBA </p>
      </p>

    </div>
     <div class="col-md-4">

      <i class="fas fa-table fa-3x" style="color: #737a81"></i>
      <h4 style="padding-top: 7px">Smart COGS management</h4>
      <p class="text-muted">We keep your COGS updated from Shopify, or provide easy ways for you to upload and manage them inside OrderMetrics </p>
      </p>

    </div>
  </div>
</div>
</div>
</div>


</div>
</div>
<div class="container why">
  <div class="row justify-content-between">
    <div class="col col-12 col-md-5 pt-4 pt-lg-0 d-flex flex-column justify-content-center wow fadeInUp">
      <h1>
        Combine Fulfilled by Amazon data with your store's order data!
      </h1>
      <h5 class="text-muted wow fadeInUp">
    The only analytics service that displays your per-order profit including true shipping costs.</h5>
    </div>
    <div class="col col-12 col-md-6 mt-4 mt-lg-0 why__steps">
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-goal.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Replace Your Giant Spreadsheet</h4>
            <p>
             We will combine your Fulfilled by Amazon data + order data, to give you order-by-order net profit after actual shipping costs are considered. 
            </p>
          </div>
        </div>
      </div>
  
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-analyze.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Cut Shipping Costs</h4>
            <p>Sort all your orders by shipping cost and see where you are losing money. Some orders might be costing you more to ship than you think. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 30px;">
  <div class="row usecases">
  <div class="col-12">
  <h4 class="text-center text-lg">
    Automatically Included with Amazon Seller integration
  </h4>

    <ol class="lead text-muted text-center features__list">
  
  <li> To set up, just connect an Amazon Seller storefront with FBA. </li>
    <li> FBA shipping costs & FBA fees will appear in your dashboard! </li>
    </ol>

</div>
</div>
</div>


<div class="container questions__container">

 <%= partial 'components/home/monitoring_questions' %>
<%= partial 'components/home/performance_questions' %>

</div>
<%= partial 'components/cta' %>
<%= partial 'components/integrations/quote' %>


