.integrations {
  @extend %section;

  &__logos {
    padding-top: $spacing-l;

    .col {
      text-align: center;
      padding-bottom: $spacing-l;
    }

    img {
      width: 50%;

      @include media-breakpoint-up(lg) {
        width: 80%;
      }
    }
  }

  &__cta {
    padding-top: $spacing-l;
  }
}