<div class="container why">
<div class="row ">
  <div class="col-12 usecases__intbenefits">
  <div class="row why__content">

      <div class="col col-12 col-lg-6 why__step wow fadeInUp" data-wow-delay="0.25s">
     
      <div class="why__step__content">
        <h4>Built by E-Commerce Experts</h4>
        <p>
        OrderMetrics was founded by Hank Kronick & Zack Grannan based on their combined experience writing code and conducting data analytics at an e-commerce company.
        </p>
        <p>Now we still a small but rapidly growing team of passionate software engineers & e-commerce store owners, building the software we wish we'd had all along. 
        </p>
        <a target="_blank" href="/jobs.html">Join our team!</a>
      </div>
    </div>

    <div class="col col-12 col-lg-6 why__step wow fadeInUp">
     
      <div class="why__step__content">
        <h4>Read Our Manifesto</h4>
        <p>   
        We strongly believe in the power of calculating profitability per order, in real time. We believe it so strongly that we wrote a Manifesto! Don't settle for incomplete analytical tools. 
        </p>
        <p> In fact, OrderMetrics is the only analytics platform specifically designed to give you line-by-line profit analysis.</p>

        <a target="_blank" href="/manifesto.html">Learn why we made OrderMetrics</a>
      </div>
    </div>
</div>

</div>
</div>
</div>
