<div class="container why">
<div class="row">
  <div class="col-12 about__intro">
  <div class="row why__content">

      <div class="col col-12 col-lg-6 why__step">
     
      <div class="why__step__content">
        <h4>The Team</h4>
        <p>
        OrderMetrics was founded by Hank Kronick & Zack Grannan, two engineers working in e-commerce & frustrated by existing analytics tools. 
        </p>
        <p>Now we are a small but rapidly growing team of passionate software engineers & e-commerce store owners, building the software we wish we'd had all along. 
        </p>
        <a target="_blank" href="/jobs.html">Join our team!</a>
      </div>
    </div>

    <div class="col col-12 col-lg-6 why__step">
     
      <div class="why__step__content">
        <h4>Our Manifesto</h4>
        <p>   
        We believe in the power of calculating profitability per order to transform your business. We believe it so strongly that we wrote a Manifesto! 
        </p>
        <p>OrderMetrics is the only analytics platform specifically designed to give you line-by-line profit analysis. Find out why!</p>

        <a target="_blank" href="/manifesto.html">Read The OrderMetrics Manifesto</a>
      </div>
    </div>
</div>

</div>
</div>
</div>
