<div class="container why">

<div class="row usecases">
  <div class="col-12 usecases__intbenefits">
  <div class="row why__content">
  	      <div class="col col-11 col-offset-1 why__step">
  	      	<h1 class="display-4 text-center text-lg-center">OrderMetrics Manifesto</h1>
  	      </br>
  	      <div class="manifesto__copy">
  	      	<p>
  	      	We believe that running an e-commerce business is as much of a science as it is an art. 
  	        </p>

  	        <p>
			There’s art to designing products, crafting your message & building a brand. 
			</p>

			<p>
			The science is setting your store’s prices, optimizing online advertising spend, optimizing shipping costs & testing to improve conversion rates. We believe anyone can master the science given the right tools. 
			</p>

			<p>
			The key to a breakaway hit in e-commerce is to combine both the art & the science, and execute them well.
			Companies that don’t commit to both the science & the art will not succeed long-term.</p>

			<p>Many of the more prominent e-commerce companies that have failed spectacularly managed to execute the art and branding well, but not the science. When you fail at the science, you run out of money, or you can’t free up cash to keep investing in the product and fall behind the competition.
			</p>

			<p>To have a runaway success, you need to execute both in harmony. 
			</p>

			<img class="img-fluid" src="/images/manifesto/runaway-success.png" alt="venn diagram showing to have a runaway success you need an overlap of applied analytics & great brand">

			<p>Examples of runaway successes:
				<ul><li>Warby Parker</li>
					<li>Tuft & Needle</li>
					<li>Zappos</li>
				</ul>
			</p>

			<p>Some of the newer 'big' e-commerce brands of the moment such as Allbirds, Away & Quip have done well building strong brands. It remains to be seen if they will succeed in using analytics to create a profitable business model for the long term, or if they are being propped up by investor cash and will fade away like One Kings Lane.</p>

			<p>On the flip side, there are many giant e-commerce businesses out there that you may never have heard of that have the science right, but a weak brand. We know about these because they are using OrderMetrics. These are far better situated for long term success, but are less sexy to look at. In some cases, they have strategically avoided the PR blitz the previously mentioned brands have generated, to avoid a flood of competitors and copycats.
			</p>

			<p>To get the analytics right and master the science of e-commerce, you need to realize there are fundamental building blocks and formula you can use.
			</p>

			<p>Once you understand them, you can apply them properly to:
				<ul><li>Profitably & sustainably attract customers</li>
					<li>Keep customers coming back</li>
				</ul>
			</p>

			<p>
			The formula is not the same for every business model or product category - but the building blocks are the same. And like with any science, having a strong knowledge of the building blocks is essential.</p>

			<p>To understand your own building blocks, you need an in-depth analysis of every sale.</p>

			<p>You need to perform <b>line-by-line profitability analysis</b> on every single one of your orders. This gives you your most important number - <b>net per-order profit. </b></p>

			<p>Net-per-order profit is the critical building block which informs all the other macro business metrics that you require to make decisions. </p>

			<p>You cannot rely on gross profit or estimates of per-order profitability such as:
				<img class="img-fluid" src="/images/manifesto/gross-profit-calc.png" alt="Gross Profit = Purchase Price - COGS"> 
			</p>

			<p>And then only ever calculating profit from your accounting books at the end of the year, or quick estimates, like this:
			
			</p>
			<img class="img-fluid" src="/images/manifesto/gross-profit-napkin.png" height="500px" alt="Net Profit = Gross Profit less shipping and marketing costs">
			
			<p>You will have no idea where you are losing money, and therefore no way to take action. You won’t even know you need to take action. </p>

			<p>This is especially important when you are returning a sizable profit - you may feel like “why should I bother getting into the details?”.  But when profits are high, you often stand to gain the most from performing deeper analysis. </p>

			<p>E-commerce costs are so highly variable, you need to measure & optimize them frequently.</p>

			<p>Shipping costs can change due to distance, package weight, fuel surcharges, and how your FedEx rep is feeling.</p>

			<p>Advertising costs can rise rapidly in automated auctions, or due to small issues with targeting, or your website performance, and they can quickly burn through a lot of cash without generating sales.</p>

			<p>To stay on top of this, you need to regularly calculate net profit line-by-line:
				<img class="img-fluid" src="/images/net-profit-calc.png" alt="net Profit = Purchase Price - COGS - Shipping - Transaction Fees - Advertising Attributed Spend"> 
			</p>

			<p>This gives you your <strong>real time net profit — the ultimate building block of a successful e-commerce business. </strong></p>

			<p>When you understand your net profit in real time:
				<ul><li>You don’t spend too much on ads that don’t work, and only realize at the end of the month. </li>
				<li>You don’t worry that you spent too much on shipping, because the true shipping cost ended up being too high. </li>
				<li>Your top-line business performance is calculated from the bottom up, so your spending decisions can be based on real cash profit.</li>

			</ul></p>

			<p>All the decisions you make regarding advertising spending, pricing, webpage design, email marketing affect your per-order net profit, and in turn, per-order net profit decides how much you can spend and where you should focus your efforts. </p>

			<p>With this data, you’ll see right away which orders need your attention.</p>

			<p>Most businesses are making decisions and measuring things without considering their per-order profitability accurately. Profit is considered to be part of their accounting practice only, not something that relates to other areas of the business such as marketing and site design. They need to be interlinked.  </p>

			<h3>How Not To Organize Your Business</h3>

			<img class="img-fluid" src="/images/manifesto/V2Gears1.png" alt="Disorganized business"> 


			<h3>How Net Profit Per Order Should Inform All Other Decisions</h3>

			<img class="img-fluid" src="/images/manifesto/V2_Gears2.png" alt="Net Profit Per Order informing all business decisions"> 

			<p>When you see your per-order net profit in real time, you can change and improve how you price your products, how you spend on marketing, and how to better pack and ship your products to reduce costs.</p>

			<p>If you analyze each order's profit data, you can work to reduce shipping costs of orders that are too high, fix advertising campaigns that have a poor CAC:LTV ratio, or change individual shipping prices - and then you’ll find you have more cash left each month to reinvest.</p>

			<p>Once you have more cash left to reinvest, you can confidently spend more acquiring customers and making better products. This in turn drives more customers to your store, boosting your sales & overall company value. </p>

			<p>You can repeat this cycle, and optimize pricing and costs again, freeing up more cash, reinvest in product & marketing, and the cycle continues.</p>

			<p>This is the power of understanding the building block of per-profit order. It informs all your other spending and pricing decisions, and it needs to be accurate. </p>

			<p>Don’t forget that the art part of your business will require significant investment to get right. Use the extra cash to invest in the art side of your business - your brand, your marketing, PR, and advertising, to acquire customers and grow your business sustainably. 
			</p>

			<p>Both parts, art & science working together to create a highly successful business, can be made possible by simply understanding your company’s per-order net profit and applying the results. </p>
</div>
		</div>
	</div>
</div>
</div>
</div>


 








