---
title: Amazon Sellers 
---
<script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>

<div class="jumbotron hero hero--pricing">
  <div class="container">
      <div class="row">
        <div class="col-lg-12 d-lg-flex justify-content-lg-center">
          <h1 class="display-4 text-center text-lg">Shopify + OrderMetrics</h1>
        </div>

    </div>

<p class="lead text-muted text-center"> 
The best way to manage your Shopify store's profitability

</p>

  <div class="row usecases">
  <div class="col-12 usecases__intbenefits">
  <h4 class="text-center text-lg">
    How OrderMetrics works with  <img src="/images/integrations/shopify.png" style="height:50px">
  </h4>

    <p class="lead text-muted text-center">
    Shopify store owners can use OrderMetrics to track their business' profitability in real time, and combine their Shopify data with many other data sources to get a complete picture of their business performance
    </p>
  
<div class="container" style="padding-top:40px;">

  <div class="row text-center">

    <div class="col-md-4">
      <i class="fas fa-infinity fa-3x" style="color: #737a81"></i>
      <h4 style="padding-top: 7px">Track Orders, Costs & Profit</h4>
      <p class="text-muted">View your store's sales & profit performance on a single clean dashboard that draws all your data from Shopify & many other sources into one place</p>
      </p>
    </div>
      <div class="col-md-4">

      <i class="fas fa-life-ring fa-3x" style="color: #737a81"></i>
      <h4 style="padding-top: 7px">Unlimited Storefronts!</h4>
      <p class="text-muted">If you have multiple Shopify stores, you can view their sales & profitability combined on a single dashboard. Or view each store separately. Even combine Shopify & Amazon storefronts on a single dashboard</p>
      </p>

    </div>
     <div class="col-md-4">

      <i class="fas fa-table fa-3x" style="color: #737a81"></i>
      <h4 style="padding-top: 7px">Smart COGS management</h4>
      <p class="text-muted">We keep your COGS updated from Shopify, or provide easy ways for you to upload and manage them inside OrderMetrics </p>
      </p>

    </div>
  </div>
</div>
</div>
</div>


</div>
</div>
<div class="container why">
  <div class="row justify-content-between">
    <div class="col col-12 col-md-5 pt-4 pt-lg-0 d-flex flex-column justify-content-center wow fadeInUp">
      <h1>
        Combine Shopify data with Shipping, Advertising & Analytics data
      </h1>
      <h5 class="text-muted wow fadeInUp">
By connecting other services as well as Shopify, you can gain valuable insights into your business performance.</h5>
    </div>
    <div class="col col-12 col-md-6 mt-4 mt-lg-0 why__steps">
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-goal.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Profitability After Shipping</h4>
            <p>
             We will combine Shopify data + Shipping data from any of our shipping integrations to give you order-by-order net profit after actual shipping costs are considered. 
            </p>
          </div>
        </div>
      </div>
  
      <div class="why__step wow fadeInUp">
        <div class="d-flex flex-column flex-md-row why__step__content">
          <p class="mr-4 why__step__content__icon">
            <img src="/images/home/icon-analyze.svg" alt="">
          </p>
          <div class="why__step__content__text">
            <h4>Advertising data + Shopify Data</h4>
            <p>Link Google Adwords, Facebook ads & more to view how these campaigns are affecting your Shopify store's profitability. 
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 30px;">
  <div class="row usecases">
  <div class="col-12">
  <h4 class="text-center text-lg">
    Get Setup in 5 Minutes
  </h4>

    <ol class="lead text-muted text-center features__list">
  
  <li>From the OrderMetrics Data Warehouse, choose the Integrations tab.</li>
  <li> Set the Facebook Ads button to on. </li>
  <li> Connect to Facebook and approve our app. </li>
  <li> We automatically start to pull all your advertising costs from Facebook for detailed profit analysis. </li>
  <li> Optional: Tick the box to let us auto-tag your new Facebook Ads to enable attribution tracking</li>
  <li>View your store's profit on the main dashboard after all Facebook Ad costs are considered!</li>
    </ol>

</div>
</div>
</div>


<div class="container questions__container">

 <%= partial 'components/home/monitoring_questions' %>
<%= partial 'components/home/performance_questions' %>

</div>
<%= partial 'components/cta' %>
<%= partial 'components/integrations/quote' %>


