// Box shadows
$box-shadow-xs: 0 1px 2px $shadow-color;
$box-shadow-s: 0 2px 4px $shadow-color;
$box-shadow-m: 0 4px 8px $shadow-color;
$box-shadow-l: 0 8px 16px $shadow-color;
$box-shadow-xl: 0 16px 24px $shadow-color;
$box-shadow-xxl: 0 24px 48px $shadow-color;
