<htmL>

<head>
         <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<meta name=”description” content="OrderMetrics helps ecommerce companies track their profitability across multiple sales channels, advertising campaigns, shipping platforms, and more. ">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    
      <link href="../dist/toolkit-light.css" rel="stylesheet">
      <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    
    <link rel="shortcut icon" type="image/png" href="../favicon.png"/>
    <link rel="shortcut icon" type="image/png" href="https://ordermetrics.io/favicon.png"/>
    <link href="dist/application.css" rel="stylesheet">
    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1144524848943792'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1144524848943792&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

   <style>
      .aa {
    color: inherit;
    text-decoration: none;
}

.aa:hover 
{
     color: inherit; 
     text-decoration:none; 
     cursor:pointer;  
}

.grayscaleimg {
   /* -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
    filter: grayscale(100%);
}*/

</style>
<!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '261894974228158',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


</script> -->

<script>
  var APP_ID = "j1d4l4sd";

 window.intercomSettings = {
    app_id: APP_ID
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/APP_ID';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

</head>

    <title>
      
        OrderMetrics.io - Guide to reduce shipping costs
      
    </title>

<body>
	<!-- Start settings panel -->
	<div class="container container-fluid container-fluid-spacious">
		<div class="dashhead m-t-md">
    		<div class="dashhead-titles">

     			 <a href="/" class="aa"><h2 class="dashhead-title"><span><img width="50px;" src="../img/logov2.png"></span> Order Metrics</h2>
          <h6 style="margin-left:60px;" class="dashhead-subtitle">Accurate profit analysis for ecommerce companies</h6></a>

   			 </div>
   			 <ul style="margin-top:20px;" class="nav nav-bordered pull-right">
            <!-- <li>
          <a href="/integrations/">Integration Guides</a>          
        </li> -->
        <li >
          <a href="../pricing.html">Pricing</a>          
        </li>
        <li>
          <a href="../integrations.html">Integrations</a>           
        </li>
        <li >
          <a href="../video-guides.html">Video Guides</a>          
        </li>
        <li >
          <a href="../faq.html">FAQ</a>          
        </li>
        <li >
          <a href="../profit-guides/">Profit Guides</a>          
        </li>
        <li>
          <a href="https://app.OrderMetrics.io/login">Login</a>
        </li>
   			 </ul>
		</div>
		<hr>
  
<div class="row well">
  <div class="col-md-10 col-md-offset-1" align="center">
    <h2>Reducing shipping costs</h2>
    <h4>The guides below cover various in-depth topics with real world examples on how to increase the profitability of your ecommerce store. From optimizing your shipping methods to ensuring profitable Ads to negotiating with vendors - we have you covered.</h4>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <button style="width:100%;height:100px;" class="btn btn-lg btn-default-outline"><span class="icon icon-aircraft"></span> Reduce shipping costs</button>
  </div>
  <div class="col-md-4">
    <button style="width:100%;height:100px;" class="btn btn-lg btn-default-outline"><span class="icon icon-credit-card"></span> Reduce payment processing fees</button>

  </div>
  <div class="col-md-4">
    <button style="width:100%;height:100px;" class="btn btn-lg btn-default-outline"><span class="icon icon-credit"></span> Optimize product pricing</button>
  </div>

</div>



  <hr>
  <div class="row" style="padding:40px;">
    <div class="col-md-6">
      <h4>About Order Metrics</h4>
      OrderMetrics.io is built and maintained by ex-ecommerce professionals who were dissastisfied by the tools on the market which lacked the ability to track shipping costs and advertising spend when <a href="https://www.ordermetrics.io/wordpress/2016/12/14/why-cogs-is-all-wrong-for-shopify-stores/" target="_blank">calculating profitability</a>. Our goal is to help other ecommerce companies maximize their profit. If you have any questions please reach out to <a href="mailto:hello@OrderMetrics.io">hello@OrderMetrics.io</a>. We are here to help!
      <h6>Read our <a href="https://www.ordermetrics.io/data-policy.html">Data Policy</a></h6>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <h4>Contact</h4>
      <div class="col-md-6">
      <a href="mailto:hello@ordermetrics.io">Hello@ordermetrics.io</a><br>
      858.707.5639
    </div>
      <div class="col-md-6">
      Order Metrics Inc.<br>
        San Francisco, CA
      </h5>
    </div>
    </div>
  </div>
   			 	
   		
	</div>

<!-- End settings panel -->
<script>
fbq('track', 'ViewContent');
</script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80975417-3', 'auto');
  ga('send', 'pageview');

</script>
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--     start purechat -->
    <!-- <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '68f45363-29cb-4584-981a-b4ad5b6fb7b0', f: true }); done = true; } }; })();</script> -->
    <!-- end purechat -->
<div class="fb-customerchat"
 page_id="223898274712050"
 
 >
</div>
</body>

<!-- VideoModal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="870" height="600" src="https://www.youtube.com/embed/jWFcGoGgnu4" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>


</htmL>