---
title: Video Guides
---
 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 


<div class="jumbotron hero hero--pricing">
  <div class="container">
    <div class="row">
      <div class="col col-12 text-center wow fadeInUp">
        <h1 class="display-4 text-center text-lg-center wow fadeInLeft">Video Guides</h1>
</div>
</div>
</div>
</div>

<div class="container">

<div class="row">
          <div class="col-md-4 well" style="height:380px;">
            <h3>Order Metrics Overview</h3>
            <a href="#videoModal" data-toggle="modal" data-target="#mainVideoModal"><img style="" width="100%;" src="/images/mainDashNew.png"></a>
            <p>A brief, 2-minute overview of Order Metrics</p>
        </div>
          <div class="col-md-4 well" style="height:380px;">
            <h3>Ad Campaign profitability</h3>
            <a href="#videoModal" data-toggle="modal" data-target="#adVideoModal"><img style="" width="100%;" src="images/mainDashNew.png"></a>
            <p>Learn how to analyze the profitability of your Facebook Ad campaigns after all variable expenses are taken into consideration.</p>
          </div>
          <div class="col-md-4 well" style="height:380px;">
            <h3>Setting up AliExpress</h3>
            <a href="#videoModal" data-toggle="modal" data-target="#aliVideoModal"><img style="" width="100%;" src="images/mainDashNew.png"></a>
            <p>AliExpress dropshippers - Learn how to use our Chrome Extension to automatically pull in your product and shipping costs for each order placed in AliExpress.</p>
          </div>
    </div>

    <div class="row">
          <div class="col-md-4 well" style="height:380px;">
            <h3>Importing Product Costs</h3>
            <a href="#videoModal" data-toggle="modal" data-target="#cogsVideoModal"><img style="" width="100%;" src="images/mainDashNew.png"></a>
            <p>Learn about the 3 methods to import product costs into Order Metrics</p>
        </div>
        <div class="col-md-4 well" style="height:380px;">
            <h3>Managing Shipping Costs</h3>
            <a href="#videoModal" data-toggle="modal" data-target="#shippingVideoModal"><img style="" width="100%;" src="images/mainDashNew.png"></a>
            <p>Learn the different methods to apply shipping costs to your orders</p>
        </div>

        <div class="col-md-4 well" style="height:380px;">
            <h3>Saving Dashboards</h3>
            <a href="#videoModal" data-toggle="modal" data-target="#presetsVideoModal"><img style="" width="100%;" src="images/mainDashNew.png"></a>
            <p>Use the presets feature to save and quickly access multiple dashboard configurations</p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 well" style="height:380px;">
            <h3>Entering Custom Costs</h3>
            <a href="#videoModal" data-toggle="modal" data-target="#customCostsVideoModal"><img style="" width="100%;" src="images/mainDashNew.png"></a>
            <p>Learn how to upload custom costs such as influencer marketing spend, app/software fees, rent, payroll, and more</p>
        </div>

         <div class="col-md-4 well" style="height:380px;">
            <h3>Attribution Module Setup</h3>
            <a href="#videoModal" data-toggle="modal" data-target="#attributionVideoModal"><img style="" width="100%;" src="images/mainDashNew.png"></a>
            <p>Learn how to use our Attribution Module to optimize Marketing Campaigns & Ad spend</p>
        </div>

    </div>
</div>

<!-- VideoModal -->
<div class="modal fade" id="mainVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="870" height="600" src="https://www.youtube.com/embed/iNziyMaQKAM" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>

<!-- adVideoModal -->
<div class="modal fade" id="adVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="870" height="600" src="https://www.youtube.com/embed/Fj_81wknDZM" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>

<!-- aliVideoModal -->
<div class="modal fade" id="aliVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="870" height="600" src="https://www.youtube.com/embed/HAjIiGDQqzg" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>

<!-- cogsVideoModal -->
<div class="modal fade" id="cogsVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="870" height="600" src="https://www.youtube.com/embed/l06nCODLs1M" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>

<!-- shippingVideoModal -->
<div class="modal fade" id="shippingVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="870" height="600" src="https://www.youtube.com/embed/060sXnMYnQI" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>

<!-- customCostsVideoModal -->
<div class="modal fade" id="customCostsVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="870" height="600" src="https://www.youtube.com/embed/fPCsuf131s4" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>

<!-- presetsVideoModal -->
<div class="modal fade" id="presetsVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="870" height="600" src="https://www.youtube.com/embed/S-V_45u0xUY" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>

<!-- attributionVideoModal -->
<div class="modal fade" id="attributionVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="870" height="600" src="https://www.youtube.com/embed/22le0t_CxGY" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>
</div>
